{% extends "edumanage/welcome.html"%}
{% load staticfiles %}
{% load i18n %}
{% load join_with_linebreaks %}

{% block extrajs %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3{% if GOOGLE_MAPS_API_KEY %}&amp;key={{ GOOGLE_MAPS_API_KEY }}{% endif %}"></script>
{% endblock %}

{% block management_content %}
 <h4>{% if edit %}{% trans 'Monitored realm' %}: {{form.instance.realm}} ({% trans "edit" %}){% else %}{% trans "Add Monitored Realm" %}{% endif %}</h4>
<hr>
<form method="POST" class="">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<div class="text-error" style="color: #B94A48">{{form.non_field_errors}}</div>
	{% endif %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="control-group {% if form.realm.errors %} error {% endif %}">
		<label class="control-label" for="id_realm"><b>{% trans "Realm" %}</b></label>
		<div class="controls">
			{{ form.realm }}
			{% if form.realm.errors %} <div class="alert-danger"> {{ form.realm.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.realm.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.mon_type.errors %} error {% endif %}">
		<label class="control-label" for="id_mon_type"><b>{% trans "Monitoring Method" %}</b></label>
		<div class="controls">
			{{ form.mon_type }}
			{% if form.mon_type.errors %} <div class="alert-danger"> {{ form.mon_type.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.mon_type.help_text }}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>
			{% trans "Apply" %}</button>
		</div>
	</div>
</form>
{% endblock %}

