{% extends "edumanage/welcome.html"%}
 {% load tolocale %}
{% load i18n %}

{% block management_content %}
  <h4>{% trans "Institution" %}</h4>
  		<hr>
  		{% if messages %}
	        <table class="table table-condensed">
	            {% for message in messages %}
	            <tr {% if message.tags %} class="{{ message.tags }}"{% endif %}><td>{{ message }}<td></tr>
	            {% endfor %}
	        </table>
	    {% endif %}
  		{% if institution %}
  			{% if institution.institutiondetails %}
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-2">
							<label for="id_ertype">{% trans "Name" %}</label>
							<div>
								{% tolocale institution LANGUAGE_CODE %}
							</div>
						</div>
						<div class="col-md-2">
							<label class="" for="id_ertype">{% trans "Type" %}</label>
							<div class="">
								{{ institution.get_ertype_display }}
							</div>
						</div>
					{% tolocale_get institution.institutiondetails LANGUAGE_CODE get="address" as institutiondetails_address %}
					<div class="col-md-2">
						<label class="" for="id_address_street">{% trans "Street" %}</label>
						<div class="">
							{{ institutiondetails_address.street }}
						</div>
					</div>
					<div class="col-md-2">
						<label class="" for="id_address_city">{% trans "City" %}</label>
						<div class="">
							{{ institutiondetails_address.city }}
						</div>
					</div>
					<div class="col-md-2">
						<label class="" for="id_contact">{% trans "Contacts" %}</label>
						<div class="">
								{% for contact in institution.institutiondetails.contact.all %}
								        		{{contact.name}} (<a href="mailto:{{contact.email}}">{{contact.email}}</a> - tel:{{contact.phone}}){% if not forloop.last %}<br>{% endif %}
								        	{% endfor %}
						</div>
					</div>
				    <div class="col-md-2 ">
				        <label class="" for="id_urls">{% trans "Urls" %}</label>

				        <div class="">
				        {% for url in institution.institutiondetails.url.all %}
				        		<a href="{{url.url}}" target="_blank">{{url.url}}</a> - {{url.get_urltype_display}} ({{url.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
				        {% endfor %}
				        </div>
				    </div>
					{% if institution.ertype in ERTYPE_ROLES.SP %}
					<div class="col-md-2">
						<label class="" for="id_oper_name">{% trans "Domain Name" %}</label>
						<div class="">
							{{ institution.institutiondetails.oper_name }}
						</div>
					</div>
					{% endif %}
					{% if institution.ertype in ERTYPE_ROLES.IDP %}
					<div class="col-md-2">
						<label class="" for="id_number_user">{% trans "Number User" %}</label>
						<div class="">
							{{ institution.institutiondetails.number_user }}
						</div>
					</div>
					{% endif %}
					<div class="col-md-2">
						<label class="" for="id_number_id">{% trans "Number of IDs" %}</label>
						<div class="">
							{{ institution.institutiondetails.number_id }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin-top: 20px;">
					<div class="col-md-12">
						<a class="btn btn-primary" href="{% url 'edit-institution' institution.pk %}">{% trans "Edit" %}</a>
				    </div>
			    </div>
			</div>
  		{% else %}
  			<div>{% trans "No institution details defined yet for" %} {% tolocale institution LANGUAGE_CODE%} <a href="{% url 'edit-institution' institution.pk %}" class="btn btn-small btn-primary">{% trans "edit" %}</a></div>
  		{% endif %}
	{% else %}
    	<p>{% trans "No institution defined" %}</p>
    {% endif %}
{% endblock %}

