{% extends "edumanage/welcome.html"%}
{% load staticfiles %}
{% load i18n %}
{% load tolocale %}
{% block homeactive %}{% endblock %}
{% block instactive %}class="active"{% endblock %}
{% block management_content %}

<h4>{% tolocale institution LANGUAGE_CODE%} {% trans "Edit" %}</h4>
<hr>
	<div class="col-md-5">
		<form method="POST">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<p class="error">
				{{ form.non_field_errors}}
			</p>
			{% endif %}
			<div style="display: none">
				{{form.institution}}
			</div>
			<div class="form-group">
				<label class="control-label" for="id_name"><b>{% trans "Name" %}</b></label>
				<div class="controls">
					<input class="input" id="disabledInput" type="text" placeholder="{% tolocale institution LANGUAGE_CODE %}" disabled>
				</div>
			</div>
			<div class="form-group {% if form.ertype.errors %} error {% endif %}">
				<label class="control-label" for="id_ertype"><b>{% trans "Type" %}</b></label>
				<div class="controls">
					<input class="input" id="disabledInput2" type="text" placeholder="{{institution.get_ertype_display}}" disabled>
				</div>
			</div>
			<div class="form-group {% if form.address_street.errors %} error {% endif %}">
				<label class="control-label" for="id_address_street"><b>{% trans "Address Street" %}</b></label>
				<div class="controls">
					{{ form.address_street }}
					{% if form.address_street.errors %} <div class="alert-danger" > {{ form.address_street.errors|join:", " }} </div>
					{% endif %} <span class="help-block"> {{ form.address_street.help_text }}</span>
				</div>
			</div>
			<div class="form-group {% if form.address_city.errors %} error {% endif %}">
				<label class="control-label" for="id_address_city"><b>{% trans "Address City" %}</b></label>
				<div class="controls" >
					{{ form.address_city }}
					{% if form.address_city.errors %} <div class="alert-danger" > {{ form.address_city.errors|join:", " }} </div>
					{% endif %} <span class="help-block"> {{ form.address_city.help_text }}</span>
				</div>
			</div>
			<div class="form-group {% if form.contact.errors %} error {% endif %}">
				<label class="control-label" for="id_contact"><b>{% trans "Contacts" %}</b></label>
				<div class="controls">
					<div class="">{{ form.contact }}</div>
					<button class="btn btn-small btn-info" id="add_contact"><i class="icon-plus-sign icon-white"></i>Add...</button>
					  {% if form.contact.errors %} <div class="alert-danger"> {{ form.contact.errors|join:", " }} </div>
                                       {% endif %} <span class="help-block"> {{ form.contact.help_text }}</span>

					<span class="help-block"> {{ form.contact.help_text }}</span>
				</div>
			</div>
		    <div class="form-group {% for err in urls_form.errors %}{% if err|length > 0 %}error{% endif %}{% endfor %}{% if urls_form.non_form_errors %}error{% endif %}">
		        <label class="control-label" for="id_urls"><b>{% trans "Urls" %}</b></label>
		        {{urls_form.management_form}}
		        <div class="controls">
		        {% if urls_form.non_form_errors %} <div class="alert-danger"> {{ urls_form.non_form_errors|join:", "}}</div>{% endif %}
		            <table id="urlsform"><thead><tr><td>url</td><td>type</td><td>language</td></tr></thead><tbody>
		        {% for formset in urls_form.forms %}
		        {{ formset.id }}


		            <tr id="{{ formset.prefix }}-row">
		            <td> {% if formset.instance.pk %}{{ formset.DELETE }}{% endif %}{{ formset.url }}{% if formset.url.errors %}<br><div class="alert-danger">  {{ formset.url.errors|join:", " }} </div>{% endif %}</td>
		             <td>{{formset.urltype}}{% if formset.urltype.errors %}<br><div class="alert-danger">  {{ formset.urltype.errors|join:", " }} </div>{% endif %}</td>
		             <td>{{formset.lang}}{% if formset.lang.errors %}<br><div class="alert-danger">  {{ formset.lang.errors|join:", " }} </div>{% endif %}</td>

		        </tr>
		        {% endfor %}
		        </tbody></table>
		        </div>
		    </div>
		    {% if institution.ertype == 2 or institution.ertype == 3 %}
			<div class="form-group {% if form.oper_name.errors %} error {% endif %}">
				<label class="control-label" for="id_oper_name"><b>{% trans "Domain Name" %}</b></label>
				<div class="controls" >
					{{ form.oper_name }}
					{% if form.oper_name.errors %} <div class="alert-danger" >  {{ form.oper_name.errors|join:", " }} </div>
					{% endif %} <span class="help-block">{% autoescape off %}{{ form.oper_name.help_text }}{% endautoescape %}</span>
				</div>
			</div>
			{% endif %}
			{% if institution.ertype == 1 or institution.ertype == 3 %}
			<div class="form-group {% if form.number_user.errors %} error {% endif %}">
				<label class="control-label" for="id_number_user">{% trans "Number of Users" %}</label>
				<div class="controls">
					{{ form.number_user }}
					{% if form.number_user.errors %} <div class="alert-danger">  {{ form.number_user.errors|join:", " }} </div>
					{% endif %} <span class="help-block"> {{ form.number_user.help_text }}</span>
				</div>
			</div>
			{% endif %}
			<div class="form-group {% if form.number_id.errors %} error {% endif %}">
				<label class="control-label" for="id_number_id">{% trans "Number of IDs" %}</label>
				<div class="controls">
					{{ form.number_id }}
					{% if form.number_id.errors %} <div class="alert-danger">  {{ form.number_id.errors|join:", " }} </div>
					{% endif %} <span class="help-block"> {{ form.number_id.help_text }}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="controls">
					<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>{% trans "Apply" %}</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add User" %}</h4>
      </div>
      <div class="modal-body" id="mymodalbody">
        <p>Loading...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" id="adduserSubmit" class="btn btn-primary">{% trans "Save changes" %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#adduserSubmit").click(function(){
		$.ajax({
			url:"{% url adduser %}",
			data:$("#add_user_form").serialize(),
			type: "POST",
			cache: false,
			success:function(data){
					try {
						value = data.value;
						text = data.text;
						if (typeof value === 'undefined' && typeof text === 'undefined'){
							$('#mymodalbody').html(data);
						}
						else{
							$('#id_contact').append($("<option></option>").attr("value",value).text(text));
							$('#myModal').modal('hide')
						}
					}
					catch (exception) {
						$('#mymodalbody').html(data);
					}
				}
				});
		return false;
	});

	$("#add_contact").click(function(){
		$('#myModal').modal('show');
		$.ajax({
				url:"{% url adduser %}",
				type: "GET",
				success: function(data){
					$('#mymodalbody').html(data);
				}
			});

	 return false;
	});


	 $('#urlsform tbody tr').formset({
        prefix: '{{urls_form.prefix}}',
        formCssClass: "dynamic-formset1",
        added: addButton,
    });

     $(".delete-row").prepend('<i class="icon-remove-sign icon-white"></i> ').addClass('btn btn-small btn-warning');
     $(".add-row").prepend('<i class="icon-plus-sign icon-white"></i> ').addClass('btn btn-small btn-info');


});
function addButton(row){
            $(row).find(".delete-row").prepend('<i class="icon-remove-sign icon-white"></i> ').addClass('btn btn-small btn-warning');
        }

</script>

{% endblock %}
