{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% load staticfiles %}
{% block crumbs %}
	<li><a href="{% url manage %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li><a href="{% url instrealmmon %}">{% trans "Monitored Realms" %}</a><span class="divider">/</span></li>
	<li class="active">{% if edit %}{{realm.realm}} parameters ({% trans "edit" %}){% else %}{% trans "Add Monitored Realm Parameters" %} ({{realm.realm}}){% endif %}</li>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
 <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/showpass.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_passwp').showPassword();
});
</script>


{% endblock %}

{% block homeactive %}{% endblock %}
{% block instrealmmon %}class="active"{% endblock %}
{% block management_content %}
 <h4>{% if edit %}{{realm.realm}} parameters ({% trans "edit" %}){% else %}{% trans "Add Monitored Realm Parameters" %} ({{realm.realm}}){% endif %}</h4>
<hr>
<form method="POST" class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<div class="text-error" style="color: #B94A48">{{form.non_field_errors}}</div>
	{% endif %}
	<div style="display: none">
		{{form.instrealmmonid}}
	</div>
	<div class="control-group {% if form.ertype.errors %} error {% endif %}">
		<label class="control-label" for="id_realm"><b>{% trans "Realm" %}</b></label>
		<div class="controls">
			<input class="input" id="disabledInput" type="text" placeholder="{{realm.realm}}" disabled>
		</div>
	</div>
	<div class="control-group {% if form.eap_method.errors %} error {% endif %}">
		<label class="control-label" for="id_eap_method"><b>{% trans "EAP Method" %}</b></label>
		<div class="controls">
			{{ form.eap_method }}
			{% if form.eap_method.errors %} <span class="help-inline"> {{ form.eap_method.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.eap_method.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.phase2.errors %} error {% endif %}">
		<label class="control-label" for="id_phase2"><b>{% trans "EAP2 Method" %}</b></label>
		<div class="controls">
			{{ form.phase2 }}
			{% if form.phase2.errors %} <span class="help-inline"> {{ form.phase2.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.phase2.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.username.errors %} error {% endif %}">
		<label class="control-label" for="id_username"><b>{% trans "Username" %}</b></label>
		<div class="controls">
			{{ form.username }}
			{% if form.username.errors %} <span class="help-inline"> {{ form.username.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.username.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.passwp.errors %} error {% endif %}">
		<label class="control-label" for="id_passwp"><b>{% trans "Password" %}</b></label>
		<div class="controls">
			<input type="password" maxlength="80" name="passwp" id="id_passwp" {% if edit %}value='{{form.instance.passwp}}'{% endif %} {% if form.data.passwp %}value='{{form.data.passwp}}'{% endif %}>
			{% if form.passwp.errors %} <span class="help-inline"> {{ form.passwp.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.passwp.help_text }}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>
			{% trans "Apply" %}</button>
		</div>
	</div>
</form>
{% endblock %}

