{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% load staticfiles %}
{% load join_with_linebreaks %}

{% block management_content %}
<h4>{% if edit %}{{realm.realm}} {% trans 'parameters' %} ({% trans "edit" %}){% else %}{% trans "Add Monitored Realm Parameters" %} ({{realm.realm}}){% endif %}</h4>
<hr>
<div class="alert alert-info alert-dismissible" role="alert">
Changes you make here will be automatically deployed to our <a class="alert-link" href="/status/technical/">monitoring system</a> within an hour, and will immediately update your <a class="alert-link" href="/faq/testing/#sp">test credentials</a>.
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
Note: The account you provide here only needs to be able to authenticate for eduroam and <strong>should not</strong> have privileged access to any other enterprise system.
</div>
<form method="POST" class="">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<div class="text-error" style="color: #B94A48">{{form.non_field_errors}}</div>
	{% endif %}
	<div style="display: none">
		{{form.instrealmmonid}}
	</div>
	<div class="control-group {% if form.ertype.errors %} error {% endif %}">
		<label class="control-label" for="id_realm"><b>{% trans "Realm" %}</b></label>
		<div class="controls">
			<input class="input" id="disabledInput" type="text" placeholder="{{realm.realm}}" disabled>
		</div>
	</div>
	<div class="control-group {% if form.eap_method.errors %} error {% endif %}">
		<label class="control-label" for="id_eap_method"><b>{% trans "EAP Method" %}</b></label>
		<div class="controls">
			{{ form.eap_method }}
			{% if form.eap_method.errors %} <div class="alert-danger"> {{ form.eap_method.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.eap_method.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.phase2.errors %} error {% endif %}">
		<label class="control-label" for="id_phase2"><b>{% trans "EAP2 Method" %}</b></label>
		<div class="controls">
			{{ form.phase2 }}
			{% if form.phase2.errors %} <div class="alert-danger"> {{ form.phase2.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.phase2.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.username.errors %} error {% endif %}">
		<label class="control-label" for="id_username"><b>{% trans "Username" %}</b></label>
		<div class="controls">
			{{ form.username }}
			{% if form.username.errors %} <div class="alert-danger"> {{ form.username.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.username.help_text }}</span>
		</div>
	</div>
	<div class="form-group control-group {% if form.passwp.errors %} error {% endif %}">
		<label class="control-label" for="id_passwp"><b>{% trans "Password" %}</b></label>
		<div class="controls">
			<input type="password" maxlength="80" name="passwp" id="id_passwp" {% if edit %}value='{{form.instance.passwp}}'{% endif %} {% if form.data.passwp %}value='{{form.data.passwp}}'{% endif %}>
			{% if form.passwp.errors %} <div class="alert-danger"> {{ form.passwp.errors|join_with_linebreaks }} </div>
			{% endif %} <span class="help-block"> {{ form.passwp.help_text }}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>
			{% trans "Apply" %}</button>
		</div>
	</div>
</form>
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'js/showpass.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" integrity="sha512-TZlMGFY9xKj38t/5m2FzJ+RM/aD5alMHDe26p0mYUMoCF5G7ibfHUQILq0qQPV3wlsnCwL+TPRNK4vIWGLOkUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/3.1.1/pwstrength-bootstrap.min.js" integrity="sha512-VMd5IUFVM9MRhGzKSpKVZu/Rm4Wm3i8dC6eYqEtOcTaG1vn5RmwUWFiYfh4nagbeQRhQuSnHULnZ9B+st2rZ0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_passwp').pwstrength({ common: { minChar: 12, maxChar: 64, usernameField: '#id_username', zxcvbn: true }, ui: {showProgressBar: false, showStatus: true, bootstrap3:true} });
	$('#id_passwp').showPassword();
	$('#id_passwp').attr('required',1);
	$('.password-verdict').addClass('help-block');
});
</script>
{% endblock %}
