{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% load tolocale %}
{% load staticfiles %}

{% block crumbs %}
    <li><a href="{% url 'manage' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
    <li><a href="{% url 'services' %}">{% trans "Locations" %}</a><span class="divider">/</span></li>
    <li class="active">{% tolocale service LANGUAGE_CODE %}</li>
{% endblock %}
{% block extrahead %}
<style type="text/css">
	.control-label{
		padding-top: 0px !important;
		width: auto !important;
	}
</style>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3{% if GOOGLE_MAPS_API_KEY %}&amp;key={{ GOOGLE_MAPS_API_KEY }}{% endif %}"></script>
<script type="text/javascript">
        var map = '';
        var lat = "{{service.latitude}}";
		var lat = parseFloat(lat.replace(",","."));
		var lng = "{{service.longitude}}";
		var lng = parseFloat(lng.replace(",","."));
		var latlng = new google.maps.LatLng(lat,lng);
		var zoomLevel = 16;

        function initialize() {
            image = new google.maps.MarkerImage('{% static 'img/edupin.png' %}',
                    // This marker is 29 pixels wide by 40 pixels tall.
                    new google.maps.Size(29, 40),
                    // The origin for this image is 0,0.
                    new google.maps.Point(0,0),
                    // The anchor for this image is the base of the flagpole at 18,42.
                    new google.maps.Point(14, 40)
                );
            var styleArray = [
			                   {
			                       featureType: "all",
			                       stylers: [
			                         { saturation: -60 },
			                         {gamma: 1.00 }
			                       ]
			                     },{
			                       featureType: "poi.business",
			                       elementType: "labels",
			                       stylers: [
			                         { visibility: "off" }
			                       ]
			                     },
			                     { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] },
			                     { "featureType": "poi", "elementType": "all", "stylers": [ { "visibility": "off" } ] },
			                     {'featureType': "administrative.country",
			                     'elementType': "labels",
			                     'stylers': [
			                         { 'visibility': "off" }
			                     ]}
			                   ];
            var mapOptions = {
                center : latlng,
                zoom : zoomLevel,
                styles: styleArray,
                 mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControlOptions: {
                          style: google.maps.MapTypeControlStyle.DEFAULT
                        },
                    navigationControl: true,
                    mapTypeControl: false,
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        	var marker = new google.maps.Marker({
        		'position' : latlng,
        		'map' : map,
        		'icon': image,
        		});

            }


        $(document).ready(function() {

            initialize();


        });




    </script>


{% endblock %}

{% block management_content %}


<h4>{% tolocale service LANGUAGE_CODE %}</h4>
<hr>
<div class="form-horizontal span7">

    <div class="control-group">
        <label class="control-label" for="id_map_canvas">{% trans "Location" %}</label>

        <div class="controls">
            Lat: {{ service.latitude }}<br>
            Lng: {{ service.longitude }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="id_locationid">{% trans "ID" %}</label>
        <div class="controls">
            {{ service.locationid }}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_stage">{% trans "Stage" %}</label>
        <div class="controls">
            {{ service.get_stage_display }}

        </div>
    </div>
    <div class="control-group" style="display: none;">
        <label class="control-label" for="id_geo_type">{% trans "Geo Type" %}</label>
        <div class="controls">
            {{ service.geo_type }}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_address_city">{% trans "Location Name" %}</label>

        <div class="controls">
        	{% for name in service.loc_name.all %}
        		{{name.name}} ({{name.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_address">{% trans "Address" %}</label>
        <div class="controls">
            {% for service_address in service.address.all %}
            {{ service_address.street }}{% if service_address.street %}, {% endif %}{{ service_address.city }} ({{service_address.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_contact">{% trans "Contacts" %}</label>
        <div class="controls">
           	{% for contact in service.contact.all %}
        		{{contact.name}} (<a href="mailto:{{contact.email}}">{{contact.email}}</a> - tel:{{contact.phone}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_physical_avail">{% trans "Physical Availability" %}</label>
        <div class="controls">
            {{ service.get_physical_avail_display }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_operation_hours">{% trans "Operation Hours" %}</label>
        <div class="controls">
            {{ service.operation_hours }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_venue_info">{% trans "Location Type" %}</label>
        <div class="controls">
            {{ service.venue_info }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_url">SSID</label>
        <div class="controls">
            {{ service.SSID }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_oper_name">{% trans "Encryption Level" %}</label>
        <div class="controls">
            {% for enc in service.enc_level %}{% if enc == '' %}-{% else %}{{enc}}{% if not forloop.last%},{% endif %}{% endif %}{% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_tag">{% trans "Tags" %}</label>
        <div class="controls">
            {{service.get_tag_display}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_nro_has_tested">{% trans "NRO has tested" %}</label>
        <div class="controls">
            {% if service.nro_has_tested %}
                <span class="nro_has_tested nro_has_tested_yes">&#x2714; {{ service.nro_has_tested }}</span>
            {% else %}
                <span class="nro_has_tested nro_has_tested_no">&#x274C;</span>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_ap_no">{% trans "AP number" %}</label>
        <div class="controls">
            {{ service.AP_no }}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_wired_no">{% trans "Wired number" %}</label>
        <div class="controls">
            {{ service.AP_no }}

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_urls">{% trans "Urls" %}</label>
        <div class="controls">
       		{% for url in service.url.all %}
        		<a href="{{url.url}}">{{url.url}}</a> - {{url.get_urltype_display}} ({{url.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-primary" href="{% url 'edit-services' service.pk %}">{% trans "Edit" %}</a>
        </div>
    </div>


</div>
<div class="span4"><div id="map_canvas" style="width:300px; height: 300px;"></div>
</div>
{% endblock %}
