{% extends "edumanage/welcome.html"%}
{% load staticfiles %}
{% load i18n %}
{% load join_with_linebreaks %}


{% block management_content %}
<h4>{% if edit %}{{form.instance.get_name}} ({% trans "edit" %}){% else %}{% trans "Add Server" %}{% endif %}</h4>
<hr>
<form method="POST" class="form-horizontal">
	{% if form.non_field_errors %}
	<ul>
	{% for error in form.non_field_errors %}
		<li class="alert-danger"><strong>{{ error }}</strong></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% csrf_token %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.ertype.errors %} error {% endif %}">
			<label class="control-label" for="id_ertype"><b>{% trans "Type" %}</b></label>
			<div class="controls">
				{{ form.ertype }}
				{% if form.ertype.errors %} <div class="alert-danger"> {{ form.ertype.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.ertype.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.addr_type.errors %} error {% endif %}">
			<label class="control-label" for="id_addr_type"><b>{% trans "Address Family" %}</b></label>
			<div class="controls">
				{{ form.addr_type }}
				{% if form.addr_type.errors %} <div class="alert-danger"> {{ form.addr_type.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.addr_type.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.host.errors %} error {% endif %}">
			<label class="control-label" for="id_host"><b>{% trans "Hostname" %}</b></label>
			<div class="controls">
				{{ form.host }}
				{% if form.host.errors %} <div class="alert-danger"> {{ form.host.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.host.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.name.errors %} error {% endif %}">
			<label class="control-label" for="id_name">{% trans "Label" %}</label>
			<div class="controls">
				{{ form.name }}
				{% if form.name.errors %} <div class="alert-danger"> {{ form.name.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.name.help_text }}</span>
			</div>
		</div>
	</div>
	{% if institution.ertype in ERTYPE_ROLES.IDP %}
	<div class="col-md-6">
		<div class="form-group {% if form.rad_pkt_type.errors %} error {% endif %}">
			<label class="control-label" for="id_rad_pkt_type"><b>{% trans "RADIUS Packet Types" %}</b></label>
			<div class="controls">
				{{ form.rad_pkt_type }}
				{% if form.rad_pkt_type.errors %} <div class="alert-danger"> {{ form.rad_pkt_type.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.rad_pkt_type.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.auth_port.errors %} error {% endif %}">
			<label class="control-label" for="id_auth_port"><b>{% trans "Authentication Port" %}</b></label>
			<div class="controls">
				{{ form.auth_port }}
				{% if form.auth_port.errors %} <div class="alert-danger"> {{ form.auth_port.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.auth_port.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.acct_port.errors %} error {% endif %}">
			<label class="control-label" for="id_acct_port"><b>{% trans "Accounting Port" %}</b></label>
			<div class="controls">
				{{ form.acct_port }}
				{% if form.acct_port.errors %} <div class="alert-danger"> {{ form.acct_port.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.acct_port.help_text }}</span>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-md-6">
		<div class="form-group {% if form.status_server.errors %} error {% endif %}">
			<label class="control-label" for="id_status_server">{% trans "Status-Server" %}</label>
			<div class="controls">
				{{ form.status_server }}
				{% if form.status_server.errors %} <div class="alert-danger"> {{ form.status_server.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.status_server.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.secret.errors %} error {% endif %}">
			<label class="control-label" for="id_secret"><b>{% trans "Secret" %}</b></label>
			<div class="controls">
				<input type="password" autocomplete="off" maxlength="80" name="secret" id="id_secret" {% if edit %}value='{{form.instance.secret}}'{% endif %} {% if form.data.secret %}value='{{form.data.secret}}'{% endif %}>
				{% if form.secret.errors %} <div class="alert-danger"> {{ form.secret.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.secret.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.proto.errors %} error {% endif %}">
			<label class="control-label" for="id_proto"><b>{% trans "Protocol" %}</b></label>
			<div class="controls">
				{{ form.proto }}
				{% if form.proto.errors %} <div class="alert-danger"> {{ form.proto.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.proto.help_text }}</span>
			</div>
		</div>
	</div>
	{% if institution.ertype in ERTYPE_ROLES.IDP %}
	<div class="col-md-6"{% if form.proto.value not in RADPROTOS.TLSPSK %} style="display: none"{% endif %}>
		<div class="form-group {% if form.psk_identity.errors %} error {% endif %}">
			<label class="control-label" for="id_psk_identity"><b>{% trans "Your TLS-PSK Identity" %}</b></label>
			<div class="controls">
				{{ form.psk_identity }}
				{% if form.psk_identity.errors %} <div class="alert-danger"> {{ form.psk_identity.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.psk_identity.help_text }}</span>
			</div>
		</div>
	</div>
	{% endif %}
	{% if institution.ertype in ERTYPE_ROLES.SP %}
	<div class="col-md-6"{% if form.proto.value not in RADPROTOS.TLSPSK %} style="display: none"{% endif %}>
		<div class="form-group">
			<label class="control-label" for="our_psk_identity"><b>{% trans "Our TLS-PSK Identity" %}</b></label>
			<div class="controls">
				<input type="text" id="our_psk_identity" value="{{ institution.instid }}@{{ OUR_TLSPSK_REALM }}" disabled>
				<span class="help-block">{{ form.psk_identity.help_text }}</span>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-md-6"{% if form.proto.value not in RADPROTOS.TLSPSK %} style="display: none"{% endif %}>
		<div class="form-group {% if form.psk_key.errors %} error {% endif %}">
			<label class="control-label" for="id_psk_key"><b>{% trans "TLS-PSK Pre-Shared Key" %}</b></label>
			<div class="controls">
				{{ form.psk_key }}
				{% if form.psk_key.errors %} <div class="alert-danger"> {{ form.psk_key.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.psk_key.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<div class="controls">
				<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>
				{% trans "Apply" %}</button>
			</div>
		</div>
	</div>
	</form>
	{% endblock %}
	</div>


{% block extrajs %}
<script type="text/javascript" src="{% static 'js/showpass.js' %}"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3{% if GOOGLE_MAPS_API_KEY %}&amp;key={{ GOOGLE_MAPS_API_KEY }}{% endif %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_secret').showPassword();
	$('#id_proto').on('change', function() {
		proto = $(this).val();
		if (proto.match('psk')) {
			$('.col-md-6:has(.form-group #id_psk_identity)').show();
			$('.col-md-6:has(.form-group #our_psk_identity)').show();
			$('.col-md-6:has(.form-group #id_psk_key)').show();
		} else {
			$('.col-md-6:has(.form-group #id_psk_identity)').hide();
			$('.col-md-6:has(.form-group #our_psk_identity)').hide();
			$('.col-md-6:has(.form-group #id_psk_key)').hide();
		}
	});
});
</script>
{% endblock %}
