{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% load tolocale %}
{% load staticfiles %}

{% block crumbs %}
    <li><a href="{% url manage %}">{% trans "Home" %}</a><span class="divider">/</span></li>
    <li><a href="{% url services %}">{% trans "Locations" %}</a><span class="divider">/</span></li>
    <li class="active">{% tolocale service LANGUAGE_CODE %}</li>
{% endblock %}
{% block extrahead %}
<style type="text/css">
	.control-label{
		padding-top: 0px !important;
		width: auto !important;
	}
</style>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
        var map = '';
        var lat = "{{service.latitude}}";
		var lat = parseFloat(lat.replace(",","."));
		var lng = "{{service.longitude}}";
		var lng = parseFloat(lng.replace(",","."));
		var latlng = new google.maps.LatLng(lat,lng);
		var zoomLevel = 16;

        function initialize() {
            image = new google.maps.MarkerImage('{% static 'img/edupin.png' %}',
                    // This marker is 29 pixels wide by 40 pixels tall.
                    new google.maps.Size(29, 40),
                    // The origin for this image is 0,0.
                    new google.maps.Point(0,0),
                    // The anchor for this image is the base of the flagpole at 18,42.
                    new google.maps.Point(14, 40)
                );
            var styleArray = [
			                   {
			                       featureType: "all",
			                       stylers: [
			                         { saturation: -60 },
			                         {gamma: 1.00 }
			                       ]
			                     },{
			                       featureType: "poi.business",
			                       elementType: "labels",
			                       stylers: [
			                         { visibility: "off" }
			                       ]
			                     },
			                     { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "visibility": "off" } ] },
			                     { "featureType": "poi", "elementType": "all", "stylers": [ { "visibility": "off" } ] },
			                     {'featureType': "administrative.country",
			                     'elementType': "labels",
			                     'stylers': [
			                         { 'visibility': "off" }
			                     ]}
			                   ];
            var mapOptions = {
                center : latlng,
                zoom : zoomLevel,
                styles: styleArray,
                 mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControlOptions: {
                          style: google.maps.MapTypeControlStyle.DEFAULT
                        },
                    navigationControl: true,
                    mapTypeControl: false,
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        	var marker = new google.maps.Marker({
        		'position' : latlng,
        		'map' : map,
        		'icon': image,
        		});

            }


        $(document).ready(function() {

            initialize();


        });




    </script>


{% endblock %}

{% block homeactive %}{% endblock %}
{% block servicesactive %}class="active"{% endblock %}
{% block subcontent %}

<h4>{% tolocale service LANGUAGE_CODE %}</h4>
<hr>
<div class="form-horizontal span7">

    <div class="control-group {% if form.longitude.errors or form.latitude.errors %} error {% endif %}">
        <label class="control-label" for="id_map_canvas">{% trans "Location" %}</label>

        <div class="controls">
            Lat: {{ service.latitude }}<br>
            Lng: {{ service.longitude }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="id_address_city">{% trans "Location Name" %}</label>

        <div class="controls">
        	{% for name in service.loc_name.all %}
        		{{name.name}} ({{name.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group {% if form.address_street.errors %} error {% endif %}">
        <label class="control-label" for="id_address_street">{% trans "Address" %}</label>
        <div class="controls">
            {{ service.address_street }}<br>
            {{ service.address_city }}

        </div>
    </div>
    <div class="control-group {% if form.SSID.errors %} error {% endif %}">
        <label class="control-label" for="id_url">SSID</label>
        <div class="controls">
            {{ service.SSID }}

        </div>
    </div>
    <div class="control-group {% if form.contact.errors %} error {% endif %}">
        <label class="control-label" for="id_contact">{% trans "Contacts" %}</label>
        <div class="controls">
           	{% for contact in service.contact.all %}
        		{{contact.name}} (<a href="mailto:{{contact.email}}">{{contact.email}}</a> - tel:{{contact.phone}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group {% if form.enc_level.errors %} error {% endif %}">
        <label class="control-label" for="id_oper_name">{% trans "Encryption Level" %}</label>
        <div class="controls">
            {% for enc in service.enc_level %}{% if enc == '' %}-{% else %}{{enc}}{% if not forloop.last%},{% endif %}{% endif %}{% endfor %}
        </div>
    </div>
    <div class="control-group {% if form.port_restrict.errors %} error {% endif %}">
        <label class="control-label" for="id_number_user">{% trans "Port Restrict" %}</label>
        <div class="controls">
            {{ service.port_restrict }}

        </div>
    </div>
    <div class="control-group {% if form.transp_proxy.errors %} error {% endif %}">
        <label class="control-label" for="id_number_id">{% trans "Transparent Proxy" %}</label>
        <div class="controls">
            {{ service.transp_proxy }}

        </div>
    </div>
    <div class="control-group {% if form.IPv6.errors %} error {% endif %}">
        <label class="control-label" for="id_number_id">IPv6</label>
        <div class="controls">
            {{ service.IPv6 }}

        </div>
    </div>
    <div class="control-group {% if form.NAT.errors %} error {% endif %}">
        <label class="control-label" for="id_number_id">NAT</label>
        <div class="controls">
            {{ service.NAT }}

        </div>
    </div>
    <div class="control-group {% if form.AP_no.errors %} error {% endif %}">
        <label class="control-label" for="id_number_id">{% trans "AP number" %}</label>
        <div class="controls">
            {{ service.AP_no }}

        </div>
    </div>
    <div class="control-group {% if form.wired.errors %} error {% endif %}">
        <label class="control-label" for="id_number_id">{% trans "Wired" %}</label>
        <div class="controls">
            {{ service.wired }}
        </div>
    </div>
    <div class="control-group {% for err in urls_form.errors %}{% if err|length > 0 %}error{% endif %}{% endfor %}{% if urls_form.non_form_errors %}error{% endif %}">
        <label class="control-label" for="id_urls">{% trans "Urls" %}</label>
        <div class="controls">
       		{% for url in service.url.all %}
        		<a href="{{url.url}}">{{url.url}}</a> - {{url.get_urltype_display}} ({{url.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-primary" href="{% url edit-services service.pk %}">{% trans "Edit" %}</a>
        </div>
    </div>


</div>
<div class="span4"><div id="map_canvas" style="width:300px; height: 300px;"></div>
</div>
{% endblock %}
