{% extends "edumanage/welcome.html"%}
{% load staticfiles %}
{% load i18n %}
{% load join_with_linebreaks %}


{% block management_content %}
<h4>{% if edit %}{{form.instance.get_name}} ({% trans "edit" %}){% else %}{% trans "Add Server" %}{% endif %}</h4>
<hr>
<div class="alert alert-info alert-dismissible" role="alert">
Changes you make to your RADIUS servers must be reviewed by the Roaming Operator before they are pushed into production. Your changes here will be queued, and will typically be processed within one working day. You will be contacted once this has happened. If you need to co-ordinate a service-affecting change (e.g. to change a shared secret), please make the change here first and then <a href="/contact" class="alert-link">contact us</a> to schedule a time before making the change on your infrastructure.
</div>
<form method="POST" class="form-horizontal">
	{% if form.non_field_errors %}
	<ul>
	{% for error in form.non_field_errors %}
		<li class="alert-danger"><strong>{{ error }}</strong></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% csrf_token %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.ertype.errors %} error {% endif %}">
			<label class="control-label" for="id_ertype"><b>{% trans "Type" %}</b></label>
			<div class="controls">
				{{ form.ertype }}
				{% if form.ertype.errors %} <div class="alert-danger"> {{ form.ertype.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.ertype.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.addr_type.errors %} error {% endif %}">
			<label class="control-label" for="id_addr_type"><b>{% trans "Address Family" %}</b></label>
			<div class="controls">
				{{ form.addr_type }}
				{% if form.addr_type.errors %} <div class="alert-danger"> {{ form.addr_type.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.addr_type.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.host.errors %} error {% endif %}">
			<label class="control-label" for="id_host"><b>{% trans "Host IP Address" %}</b></label>
			<div class="controls">
				{{ form.host }}
				{% if form.host.errors %} <div class="alert-danger"> {{ form.host.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">IP address of RADIUS server</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.name.errors %} error {% endif %}">
			<label class="control-label" for="id_name">{% trans "Label" %}</label>
			<div class="controls">
				{{ form.name }}
				{% if form.name.errors %} <div class="alert-danger"> {{ form.name.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">FQDN hostname | {{ form.name.help_text }}</span>
			</div>
		</div>
	</div>
	{% if institution.ertype in ERTYPE_ROLES.IDP %}
	<div class="col-md-6">
		<div class="form-group {% if form.rad_pkt_type.errors %} error {% endif %}">
			<label class="control-label" for="id_rad_pkt_type"><b>{% trans "RADIUS Packet Types" %}</b></label>
			<div class="controls">
				{{ form.rad_pkt_type }}
				{% if form.rad_pkt_type.errors %} <div class="alert-danger"> {{ form.rad_pkt_type.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.rad_pkt_type.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.auth_port.errors %} error {% endif %}">
			<label class="control-label" for="id_auth_port"><b>{% trans "Authentication Port" %}</b></label>
			<div class="controls">
				{{ form.auth_port }}
				{% if form.auth_port.errors %} <div class="alert-danger"> {{ form.auth_port.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.auth_port.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.acct_port.errors %} error {% endif %}">
			<label class="control-label" for="id_acct_port"><b>{% trans "Accounting Port" %}</b></label>
			<div class="controls">
				{{ form.acct_port }}
				{% if form.acct_port.errors %} <div class="alert-danger"> {{ form.acct_port.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.acct_port.help_text }}</span>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="col-md-6">
		<div class="form-group {% if form.status_server.errors %} error {% endif %}">
			<label class="control-label" for="id_status_server">{% trans "Status-Server" %}</label>
			<div class="controls">
				{{ form.status_server }}
				{% if form.status_server.errors %} <div class="alert-danger"> {{ form.status_server.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.status_server.help_text }}}<br>(Do <strong>not</strong> tick this if you use Windows NPS)</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.secret.errors %} error {% endif %}">
			<label class="control-label" for="id_secret"><b>{% trans "RADIUS Shared Secret" %}</b></label>
			<div class="controls">
				<input type="password" maxlength="80" name="secret" id="id_secret" {% if edit %}value='{{form.instance.secret}}'{% endif %} {% if form.data.secret %}value='{{form.data.secret}}'{% endif %}>
				{% if form.secret.errors %} <div class="alert-danger"> {{ form.secret.errors|join_with_linebreaks }} </div>
				{% endif %} <span class="help-block">{{ form.secret.help_text }}</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group {% if form.proto.errors %} error {% endif %}">
			<label class="control-label" for="id_proto"><b>{% trans "Protocol" %}</b></label>
			<div class="controls">
				{{ form.proto }}
				{% if form.proto.errors %} <div class="alert-danger"> {{ form.proto.errors|join_with_linebreaks }} </div>
				{% endif %} <!-- <span class="help-block">{{ form.proto.help_text }}</span> -->
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<div class="controls">
				<button type="submit" id="applybutton" value="Apply" class="btn btn-primary"/>
				{% trans "Apply" %}</button>
			</div>
		</div>
	</div>
	</form>
	{% endblock %}
	</div>


{% block extrajs %}
<script type="text/javascript" src="{% static 'js/showpass.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js" integrity="sha512-TZlMGFY9xKj38t/5m2FzJ+RM/aD5alMHDe26p0mYUMoCF5G7ibfHUQILq0qQPV3wlsnCwL+TPRNK4vIWGLOkUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/3.1.1/pwstrength-bootstrap.min.js" integrity="sha512-VMd5IUFVM9MRhGzKSpKVZu/Rm4Wm3i8dC6eYqEtOcTaG1vn5RmwUWFiYfh4nagbeQRhQuSnHULnZ9B+st2rZ0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3{% if GOOGLE_MAPS_API_KEY %}&amp;key={{ GOOGLE_MAPS_API_KEY }}{% endif %}"></script>
<script type="text/javascript">
function updateHostFieldExpectations() {
	$('#id_host').attr('required',1);
	$('#id_host').attr('pattern', '((^|\.)((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9]?[0-9]))){4}$');
	$('#id_host').attr('title', 'Please supply a valid IP address').attr('required',1);
	$('label[for="id_host"] b').text('Host External IP Address');
	$('#id_host + .help-block').text('IP address of RADIUS server');
	$('#id_name').attr('required',1);
	$('#id_secret').attr('required',1);
	$('#id_secret').attr('title', 'Please supply a strong, random string longer than 20 characters');
	$('#id_secret').attr('minlength', 20);
	$('#id_secret').attr('maxlength', 64);
	/* https://github.com/ablanco/jquery.pwstrength.bootstrap */
	$('#id_secret').pwstrength({
		common: {
			minChar: 20,
			maxChar: 64,
			usernameField: '#id_name',
			invalidCharsRegExp: new RegExp(/[\s,'"%]/),
			userInputs: [ '#id_address', '#id_name' ],
			zxcvbn: true
		}, 
		ui: {
			showProgressBar: false,
			showStatus: true,
			bootstrap3: true
		}
	});
	$('.password-verdict').addClass('help-block');
}

$(document).ready(function() {
	$('#id_secret').showPassword();
	updateHostFieldExpectations();
});
</script>
{% endblock %}
