{% extends "base.html"%}
{% load i18n %}
{% load staticfiles %}

{% block currentpagetitle %}Management{% endblock %}
{% block manage %}active{% endblock %}

{% block headtitle %}eduroam@Greece admin{% endblock %}

{% block content %}
<div class="row" style="margin: 0; margin-bottom: 15px;">
	<div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-2">
	{% with navpage_mgmt=request.resolver_match.url_name %}
		<div class="push-top sidebar"></div>
		<div class="well well-sm sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li class="{% if navpage_mgmt == 'manage' %}active{% endif %}">
					<a href="{% url 'manage' %}">{% trans "Home" %}</a>
				</li>
				{% if institution_exists %}
				<li class="{% if 'institution' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'institutions' %}">{% trans "Institution" %}
					{% if not institutiondetails %}
					  <span class="label label-danger"
						style="font-size:100%;">!</span>
					{% endif %}
					</a>
				</li>
				{% endif %}
				{% if institutiondetails %}
				{% if institution_canhaveservicelocs %}
				<li class="{% if 'services' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'services' %}">{% trans "Locations" %}
					  <span class="badge">{{services_num}}</span></a>
				</li>
				{% endif %}
				<li class="{% if 'servers' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'servers' %}">{% trans "Servers" %}
					  <span class="badge">{{servers_num}}</span></a>
				</li>
				<li class="{% if 'realms' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'realms' %}">{% trans "Realms" %}
					  <span class="badge">{{realms_num}}</span></a>
				</li>
				<li class="{% if 'instrealmmon' in navpage_mgmt or navpage_mgmt == 'edit-monlocauthpar' %}active{% endif %}">
					<a href="{% url 'instrealmmon' %}">{% trans "Monitored Realms" %}
					  <span class="badge">{{monrealms_num}}</span></a>
				</li>
				<li class="{% if 'contacts' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'contacts' %}">{% trans "Contacts" %}
					  <span class="badge">{{contacts_num}}</span></a>
				</li>
				{% if CAT_INSTANCES %}
				<li class="{% if 'catenroll' in navpage_mgmt %}active{% endif %}">
					<a href="{% url 'catenroll' %}">{% trans "eduroam CAT" %}</a>
				</li>
				{% endif %}

				{% endif %}
			</ul>
		</div>
	{% endwith %}
	</div>
	<div class="col-sm-12 col-md-10">
		 <div class="row">
			<div class="col-md-12">
			{% block management_content %}
			{% if not institution_exists %}
		                <table class="table table-condensed">
				    <tr class="error"><td>You are not associated with any institution. Please contact your administrator<td></tr>
				</table>
			{% else %}
				<h4>{% trans "Home" %}{% if institution_canhaveservicelocs %} - {% trans "Service Locations" %}{% endif %} </h4>
	              		<hr>
				{% if services %}
					<div id="map_canvas" data-group="{% static 'img/edugroup.png' %}" data-pin="{% static 'img/edupin.png' %}" data-center-lat="{{MAP_CENTER.0}}" data-center-lng="{{MAP_CENTER.1}}" data-service="{% url 'get-service-points' %}" data-service-edit="{% url 'edit-services'  %}" style="width:100%; height:450px;"></div>
				{% else %}
					<div>
						{% if institutiondetails %}
						{% if institution_canhaveservicelocs %}
							{% trans "No services defined yet"%}!
							<a href="{% url 'edit-services' %}" class="btn btn-primary">
								{% trans "Add new service" %}
							</a>
						{% endif %}
						{% else %}
							Specify your institution details to proceed <a class="btn btn-small btn-primary" href="{% url 'edit-institution' institution.pk %}">{% trans "Edit" %}</a>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
			{% endblock %}
			</div>
		</div>
	</div>
</div>


{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?{% if GOOGLE_MAPS_API_KEY %}key={{ GOOGLE_MAPS_API_KEY }}{% endif %}"></script>
<script type="text/javascript" src="{% static 'js/management-map.js' %}"></script>
{% endblock %}
