{% extends "base.html" %}
{% load static %}

{% block manage %}active{% endblock %}
{% block subcontent %}
<div class="container-fluid">
	<div class="row-fluid">
		<h1>Login</h1><hr>
		<div class="span4">
			<div class="well">
				<div class="row-fluid">
					<div class="span12">
					    {% with qs=request.GET.urlencode %}
					    {% for login_method in MANAGE_LOGIN_METHODS %}
					      {% if login_method.enabled %}
						<a class="btn btnlogin" href="{% url 'manage_login' login_method.backend %}{% if qs %}?{{qs}}{% endif %}">
						{% if login_method.local_image %}
							<img src="{% static login_method.local_image %}" style="padding: 0px;">
					        {% endif %}
						{% if login_method.image_url %}
							<img src="{{ login_method.image_url }}" style="padding: 0px;">
					        {% endif %}
						{% if login_method.fa_style %}
							<i class="fa {{ login_method.fa_style }} fa-2x"></i>
						{% endif %}
							<br>{{ login_method.name }}</a>
					      {% endif %}
					    {% endfor %}
					    {% endwith %}
					</div>
				</div>
			</div>
		</div>
		<div class="span4"></div>
	</div>
</div>
{% endblock %}
