{% extends "base.html"%}
{% load i18n %}
{% load staticfiles %}

{% block currentpagetitle %}Management{% endblock %}
{% block manage %}active{% endblock %}

{% block headtitle %}eduroam@Greece admin{% endblock %}

{% block content %}
<div class="row" style="margin: 0">
	<div class="col-md-2">
		<div class="push-top"></div>
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li {% block homeactive %}class="active"{% endblock %}>
					<a href="{% url manage %}">{% trans "Home" %}</a>
				</li>
				{% if institution_exists %}
				<li {% block instactive %}{% endblock %}>
					<a href="{% url institutions %}">{% trans "Institution" %} {% if not institutiondetails %}<font style="color: red; font-weight: bold; font-size: 14px;">(!)</font>{% endif %}</a>
				</li>
				{% endif %}
				{% if institutiondetails %}
				{% if institution_canhaveservicelocs %}
				<li {% block servicesactive %}{% endblock %}>
					<a href="{% url services %}">{% trans "Locations" %} ({{services_num}})</a>
				</li>
				{% endif %}
				<li {% block serversactive %}{% endblock %}>
					<a href="{% url servers %}">{% trans "Servers" %} ({{servers_num}})</a>
				</li>
				<li {% block realmsactive %}{% endblock %}>
					<a href="{% url realms %}">{% trans "Realms" %} ({{realms_num}})</a>
				</li>
				<li {% block instrealmmon %}{% endblock %}>
					<a href="{% url instrealmmon %}">{% trans "Monitored Realms" %} ({{monrealms_num}})</a>
				</li>
				<li {% block contactsactive %}{% endblock %}>
					<a href="{% url contacts %}">{% trans "Contacts" %} ({{contacts_num}})</a>
				</li>
				{% if CAT_INSTANCES %}
				<li {% block catactive %}{% endblock %}>
					<a href="{% url catenroll %}">{% trans "eduroam CAT" %}</a>
				</li>
				{% endif %}

				{% endif %}
			</ul>
		</div>
	</div>
	<div class="col-lg-10">
		 <div class="row">
			<div class="col-md-12">
			{% block management_content %}
			{% if not institution_exists %}
		                <table class="table table-condensed">
				    <tr class="error"><td>You are not associated with any institution. Please contact your administrator<td></tr>
				</table>
			{% else %}
				<h4>{% trans "Home" %}{% if institution_canhaveservicelocs %} - {% trans "Service Locations" %}{% endif %} </h4>
	              		<hr>
				{% if services %}
					<div id="map_canvas" data-group="{% static 'img/edugroup.png' %}" data-pin="{% static 'img/edupin.png' %}" data-center-lat="{{MAP_CENTER.0}}" data-center-lng="{{MAP_CENTER.1}}" data-service="{% url get-service-points %}" data-service-edit="{% url edit-services  %}" style="width:100%; height:450px;"></div>
				{% else %}
					<div>
						{% if institutiondetails %}
						{% if institution_canhaveservicelocs %}
							{% trans "No services defined yet"%}!
							<a href="{% url edit-services %}" class="btn btn-primary">
								{% trans "Add new service" %}
							</a>
						{% endif %}
						{% else %}
							Specify your institution details to proceed <a class="btn btn-small btn-primary" href="{% url edit-institution institution.pk %}">{% trans "Edit" %}</a>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
			{% endblock %}
			</div>
		</div>
	</div>
</div>


{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ API_KEY }}"></script>
<script type="text/javascript" src="{% static 'js/management-map.js' %}"></script>
{% endblock %}
