# Django 5.2 is an LTS release that will be supported until April 2028.
Django~=5.2.9

# Django-related packages
django-registration==5.2.1
django-tinymce==4.1.0
social-auth-app-django==5.6.0
social-auth-core==4.5.6
django-sortedm2m==4.0.0
django-widget-tweaks==1.5.0

# Other packages
requests==2.32.4
six==1.17.0
lxml==5.3.1
PyYAML==6.0.2
semantic_version==2.10.0

