{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block currentpagetitle %}{{ flatpage.title }}{% endblock %}
{% block homepage %}{% endblock %}
{% block hometop %}{% endblock %}
{% block faq %}{% if "faq" in flatpage.url %}class="active"{% endif %}{% endblock %}
{% block faqtop %}{% if "faq" in flatpage.url %}class="active"{% endif %}{% endblock %}
{% block whatis %}{% if "what" in flatpage.url %}class="active"{% endif %}{% endblock %}

{% block extrahead %}
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block subcontent %}
	<h1>{{ flatpage.title }}</h1>
	<hr>
	<div class="span6">
	   {{ flatpage.content|linebreaks }}
	</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    function setlang(lang) {
        $("#langsel").val(lang);
        var form = $("#langform");
        $.ajax({
			url: form.attr('action'),
			data: form.serialize(),
			type: "POST",
			cache: false,
			success:function(data){
					window.location.href=location.href + "../" + lang + "/";
				}
        });
    }
</script>
{% endblock %}
