{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}eduroam | {{COUNTRY_CODE}}{% endblock %} : {% block currentpagetitle %}{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link REL="shortcut icon" HREF="{% static 'img/favicon.ico' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/edu144-icon.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/edu114-icon.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/edu72-icon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'img/edu-icon.png' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% block extrahead %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock%}">
        {% block header %}
        <div class="push-top"></div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static 'img/eduroam_logo.png' %}" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="{% block hometop %}{% endblock %}"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                <li class="{% block faqtop %}{% endblock %}"><a href="/faq/{{LANGUAGE_CODE}}/">FAQ</a></li>
                <li class="{% block manage %}{% endblock %}"><a href="{% url 'manage' %}"> {% trans "Manage" %}</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Language" %}: {% for lang in LANGUAGES %}{% ifequal LANGUAGE_CODE lang.0 %}{% trans lang.1 %}{% endifequal %}{% endfor %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <form action="{% url 'edumanage.views.set_language' %}" method="post" id="langform">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ next }}" />
                        <input id="langsel" name="language" type="hidden" value="" />
                    </form>
                    {% for lang in LANGUAGES %}
                    <li class="language {% ifequal LANGUAGE_CODE lang.0 %}active{% endifequal %}" data-lang="{{ lang.0 }}" >
                        <a href="#" title="{{lang.1}}">{% trans lang.1 %}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Institutions" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% block mgmt %}{% endblock %}"><a href="{% url 'managementPage' %}">{% trans "Management" %}</a></li>
                        <li class="{% block participants %}{% endblock %}"><a href="{% url 'participants' %}">{% trans "Participants" %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Service" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                          <li class="{% block closest %}{% endblock %}"><a href="{% url 'geolocate' %}" target="_blank">{% trans "Closest eduroam" %}</a></li>
                          <li class="{% block world %}{% endblock %}"><a href="{% url 'world' %}">{% trans "World eduroam" %}</a></li>
                          <li><a href="https://apps.getpebble.com/applications/5384b2119c84af48350000c7">{% trans "pebduroam" %}</a></li>
                        <li class="{% block api %}{% endblock %}"><a href="{% url 'api' %}">{% trans "Closest point api" %}</a>
                    </ul>
                </li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        {% endblock %}

	<div class="stickyfooter-container">
        {% block content %}
            <div class="container">
                {% block subcontent %}
                {% endblock %}
            </div>
        {% endblock %}
	{% include "partial/footer.html" %}
	</div>
    {% block extrajs_pre %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
