{% extends "edumanage/welcome.html"%}
{% block crumbs %}
	<li><a href="{% url manage %}">Home</a><span class="divider">/</span></li>
	<li><a href="{% url realms %}">Realms</a><span class="divider">/</span></li>
	<li class="active">Add-Edit</li>
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      



{% endblock %}
			
{% block homeactive %}{% endblock %}
{% block contactsactive %}class="active"{% endblock %}
{% block subcontent %} <h4>Contacts Add/Edit</h4>
<hr>
<form method="POST" class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<p class="error">
		{{ form.non_field_errors}}
	</p>
	{% endif %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="control-group {% if form.firstname.errors %} error {% endif %}">
		<label class="control-label" for="id_firstname"><b>First name</b></label>
		<div class="controls">
			{{ form.firstname }}
			{% if form.firstname.errors %} <span class="help-inline"> {{ form.firstname.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.firstname.help_text }}</span>
		</div>
		</div>
		<div class="control-group {% if form.lastname.errors %} error {% endif %}">
		<label class="control-label" for="id_lastname"><b>Last name</b></label>
		<div class="controls">
			{{ form.lastname }}
			{% if form.lastname.errors %} <span class="help-inline"> {{ form.lastname.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.lastname.help_text }}</span>
		</div>
		</div>
		<div class="control-group {% if form.email.errors %} error {% endif %}">
		<label class="control-label" for="id_email"><b>Email</b></label>
		<div class="controls">
			{{ form.email }}
			{% if form.email.errors %} <span class="help-inline"> {{ form.email.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.email.help_text }}</span>
		</div>
		</div>
		<div class="control-group {% if form.phone.errors %} error {% endif %}">
		<label class="control-label" for="id_phone"><b>Phone</b></label>
		<div class="controls">
			{{ form.phone }}
			{% if form.phone.errors %} <span class="help-inline"> {{ form.phone.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.phone.help_text }}</span>
		</div>
		</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-large btn-primary"/>
			Apply</button>
		</div>
	</div>
</form>
{% endblock %}
         
