{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% load tolocale %}
{% block crumbs %}
	<li><a href="{% url manage %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li><a href="{% url institutions %}">{% trans "Institution" %}</a><span class="divider">/</span></li>
	<li class="active">{% tolocale institution LANGUAGE_CODE%} ({% trans "Edit" %})</li>
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.formset.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#adduserSubmit").click(function(){
		$.ajax({
			url:"{% url adduser %}", 
			data:$("#add_user_form").serialize(),
			type: "POST",
			cache: false,
			success:function(data){
					try {
						value = data.value;
						text = data.text;
						if (typeof value === 'undefined' && typeof text === 'undefined'){
							$('#mymodalbody').html(data);	
						}
						else{
							$('#id_contact').append($("<option></option>").attr("value",value).text(text));
							$('#myModal').modal('hide')
						}
					}
					catch (exception) {
						$('#mymodalbody').html(data);
					}					
				}
				});
		return false;
	});
	
	$("#add_contact").click(function(){
	 $('#myModal').modal('show')
	 $.ajax({
			url:"{% url adduser %}",
			type: "GET",
			success: function(data){
				$('#mymodalbody').html(data);
				}
			});
	
	 return false;
	});
	
	
	 $('#urlsform tbody tr').formset({
        prefix: '{{urls_form.prefix}}',
        formCssClass: "dynamic-formset1",
        added: addButton,
    });

     $(".delete-row").prepend('<i class="icon-remove-sign icon-white"></i> ').addClass('btn btn-small btn-warning');
     $(".add-row").prepend('<i class="icon-plus-sign icon-white"></i> ').addClass('btn btn-small btn-info');
     
     
});
function addButton(row){
            $(row).find(".delete-row").prepend('<i class="icon-remove-sign icon-white"></i> ').addClass('btn btn-small btn-warning');
        }
        
</script>

{% endblock %}
{% block homeactive %}{% endblock %}
{% block instactive %}class="active"{% endblock %}
{% block subcontent %}
<h4>{% tolocale institution LANGUAGE_CODE%} {% trans "Edit" %}</h4>
<hr>
<form method="POST" class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<p class="error">
		{{ form.non_field_errors}}
	</p>
	{% endif %}
	<div style="display: none">
		{{form.institution}}
	</div>
		<div class="control-group">
		<label class="control-label" for="id_name">{% trans "Name" %}</label>
		<div class="controls">
			<input class="input" id="disabledInput" type="text" placeholder="{% tolocale institution LANGUAGE_CODE %}" disabled>
		</div>
	</div>
	<div class="control-group {% if form.ertype.errors %} error {% endif %}">
		<label class="control-label" for="id_ertype">{% trans "Type" %}</label>
		<div class="controls">
			<input class="input" id="disabledInput" type="text" placeholder="{{institution.get_ertype_display}}" disabled>
		</div>
	</div>
	<div class="control-group {% if form.address_street.errors %} error {% endif %}">
		<label class="control-label" for="id_address_street">{% trans "Address Street" %}</label>
		<div class="controls">
			{{ form.address_street }}
			{% if form.address_street.errors %} <span class="help-inline"> {{ form.address_street.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.address_street.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.address_city.errors %} error {% endif %}">
		<label class="control-label" for="id_address_city">{% trans "Address City" %}</label>
		<div class="controls">
			{{ form.address_city }}
			{% if form.address_city.errors %} <span class="help-inline"> {{ form.address_city.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.address_city.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.contact.errors %} error {% endif %}">
		<label class="control-label" for="id_contact">{% trans "Contacts" %}</label>
		<div class="controls">
			{{ form.contact }} <button class="btn btn-small btn-info" id="add_contact"><i class="icon-plus-sign icon-white"></i>Add...</button>
			{% if form.contact.errors %} <span class="help-inline"> {{ form.ertype.contact|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.contact.help_text }}</span>
		</div>
	</div>
    <div class="control-group {% for err in urls_form.errors %}{% if err|length > 0 %}error{% endif %}{% endfor %}{% if urls_form.non_form_errors %}error{% endif %}">
        <label class="control-label" for="id_urls">{% trans "Urls" %}</label>
        {{urls_form.management_form}}
        <div class="controls">
        {% for err in urls_form.errors %}{% if err|length > 0 %}<span class="help-inline">{{err}}</span>{% endif %}{% endfor %}
        {% if urls_form.non_form_errors %} <span class="help-inline"> {{ urls_form.non_form_errors|join:", "}}</span>{% endif %}
            <table id="urlsform"><thead><tr><td>url</td><td>type</td><td>language</td></tr></thead><tbody>
        {% for formset in urls_form.forms %}
        {{ formset.id }}
        
        
            <tr id="{{ formset.prefix }}-row">
            <td> {% if formset.instance.pk %}{{ formset.DELETE }}{% endif %}{{ formset.url }}{% if formset.url.errors %}<br><div class="help-inline"> {{ formset.url.errors|join:", " }} </div>{% endif %}</td> 
             <td>{{formset.urltype}}{% if formset.urltype.errors %}<br><p class="help-inline"> {{ formset.urltype.errors|join:", " }} </p>{% endif %}</td>
             <td>{{formset.lang}}{% if formset.lang.errors %}<br><p class="help-inline"> {{ formset.lang.errors|join:", " }} </p>{% endif %}</td>
             
        </tr>
        {% endfor %}
        </tbody></table>
        </div>
    </div>
    {% if instdets.ertype == 2 or instdets.ertype == 3 %}
	<div class="control-group {% if form.oper_name.errors %} error {% endif %}">
		<label class="control-label" for="id_oper_name">{% trans "Oper Name" %}</label>
		<div class="controls">
			{{ form.oper_name }}
			{% if form.oper_name.errors %} <span class="help-inline"> {{ form.oper_name.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.oper_name.help_text }}</span>
		</div>
	</div>
	{% endif %}
	{% if instdets.ertype == 1 or instdets.ertype == 3 %}
	<div class="control-group {% if form.number_user.errors %} error {% endif %}">
		<label class="control-label" for="id_number_user">{% trans "Number of Users" %}</label>
		<div class="controls">
			{{ form.number_user }}
			{% if form.number_user.errors %} <span class="help-inline"> {{ form.number_user.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.number_user.help_text }}</span>
		</div>
	</div>
	{% endif %}
	<div class="control-group {% if form.number_id.errors %} error {% endif %}">
		<label class="control-label" for="id_number_id">{% trans "Number Id" %}</label>
		<div class="controls">
			{{ form.number_id }}
			{% if form.number_id.errors %} <span class="help-inline"> {{ form.number_id.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.number_id.help_text }}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-large btn-primary"/>{% trans "Apply" %}</button>
		</div>
	</div>
</form>
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">{% trans "Add User" %}</h3>
</div>
<div class="modal-body" id="mymodalbody">

</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
<a class="btn btn-primary" id="adduserSubmit" href="#">{% trans "Save changes" %}</a>
</div>
</div>
{% endblock %}
              
