{% extends "base.html"%}

{% block content %}
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav">
			<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="{% url manage %}">Home</a>
				</li>
				<li class="active">
				<a href="#">Institution</a>
				</li>
				<li>
				<a href="#">Services</a>
				</li>
				<li>
				<a href="#">Servers</a>
				</li>
    		</ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class="span9">
          <div class="row-fluid">
            <!--/span-->
            <div class="span12">
              <h4>Institution</h4>
              {% load tolocale %}
              {% if institution %}
              		<h5>{% tolocale institution.pk 'el'%}</h5>
              		{% if institution.institutiondetails %}
              			ErType: {{institution.institutiondetails.get_ertype_display}}
              		{% else %}
              			<div>No institution details defined yet <a href="{% url edit-institution institution.pk %}">(edit)</a></div>
              		{% endif %}
              {% else %}
              <p>No institution defined!</p>
              {% endif %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
{% endblock %}