{% extends "edumanage/welcome.html"%}
{% block extrahead %}
	<style type="text/css">
		.control-label{
			padding-top: 0px !important;
			width: auto !important;
		}
	</style>
{% endblock %}
			{% block crumbs %}
	    			<li><a href="{% url manage %}">Home</a><span class="divider">/</span></li>
	    			<li class="active">Institution</li>
	    			{% endblock %}
			{% block homeactive %}{% endblock %}
    		{% block instactive %}class="active"{% endblock %}
            {% block subcontent %}
              <h4>Institution</h4>
              		<hr>
              {% load tolocale %}
              {% if institution %}
              		{% if institution.institutiondetails %}
              		
<div class="form-horizontal">


		<div class="control-group">
		<label class="control-label" for="id_ertype">Name</label>
		<div class="controls">
			{% tolocale institution LANGUAGE_CODE %}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_ertype">ErType</label>
		<div class="controls">
			{{ institution.institutiondetails.get_ertype_display }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_address_street">Address Street</label>
		<div class="controls">
			{{ institution.institutiondetails.address_street }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_address_city">Address City</label>
		<div class="controls">
			{{ institution.institutiondetails.address_city }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_contact">Contact(s)</label>
		<div class="controls">
				{% for contact in institution.institutiondetails.contact.all %}
        		{{contact.firstname}} {{contact.lastname}} (<a href="mailto:{{contact.email}}">{{contact.email}}</a> - tel:{{contact.phone}}){% if not forloop.last %}<br>{% endif %}
        	{% endfor %}
		</div>
	</div>
    <div class="control-group ">
        <label class="control-label" for="id_urls">Urls</label>
        
        <div class="controls">
        {% for url in institution.institutiondetails.url.all %}
        		<a href="{{url.url}}" target="_blank">{{url.url}}</a> - {{url.get_urltype_display}} ({{url.get_lang_display}}){% if not forloop.last %}<br>{% endif %}
        {% endfor %}
        </div>
    </div>
    {% if instdets.ertype == 2 or instdets.ertype == 3 %}
	<div class="control-group">
		<label class="control-label" for="id_oper_name">Oper Name</label>
		<div class="controls">
			{{ institution.institutiondetails.oper_name }}
		</div>
	</div>
	{% endif %}
	{% if instdets.ertype == 1 or instdets.ertype == 3 %}
	<div class="control-group">
		<label class="control-label" for="id_number_user">Number User</label>
		<div class="controls">
			{{ institution.institutiondetails.number_user }}
		</div>
	</div>
	{% endif %}
	<div class="control-group">
		<label class="control-label" for="id_number_id">Number Id</label>
		<div class="controls">
			{{ institution.institutiondetails.number_id }}
		</div>
	</div>
	<div class="control-group">
        <div class="controls">
            <a class="btn btn-large btn-primary" href="{% url edit-institution institution.pk %}">Edit</a>
        </div>
    </div>
            </div>   
              		{% else %}
              			<div>No institution details defined yet for {% tolocale institution LANGUAGE_CODE%} <a href="{% url edit-institution institution.pk %}" class="btn btn-small btn-primary">edit</a></div>
              		{% endif %}
              {% else %}
              <p>No institution defined!</p>
              {% endif %}
             {% endblock %}
            