{% extends "edumanage/welcome.html"%}
{% block crumbs %}
	<li><a href="{% url manage %}">Home</a><span class="divider">/</span></li>
	<li><a href="{% url realms %}">Realms</a><span class="divider">/</span></li>
	<li class="active">{% if edit %}{{form.instance.realm}} (edit){% else %}Add Realm{% endif %}</li>
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      



{% endblock %}
			
{% block homeactive %}{% endblock %}
{% block realmsactive %}class="active"{% endblock %}
{% block subcontent %}<h4>{% if edit %}{{form.instance.realm}} (edit){% else %}Add Realm{% endif %}</h4>
<hr>
{% if messages %}
	<table class="table table-condensed">
	    {% for message in messages %}
	    <tr {% if message.tags %} class="{{ message.tags }}"{% endif %}><td>{{ message }}<td></tr>
	    {% endfor %}
	</table>
{% endif %}
{% if instdets.ertype == 1 or instdets.ertype == 3 %}
<form method="POST" class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<p class="error">
		{{ form.non_field_errors}}
	</p>
	{% endif %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="control-group {% if form.realm.errors %} error {% endif %}">
		<label class="control-label" for="id_realm"><b>Realm</b></label>
		<div class="controls">
			{{ form.realm }}
			{% if form.realm.errors %} <span class="help-inline"> {{ form.realm.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.realm.help_text }}</span>
		</div>
	</div>
	<div class="control-group {% if form.proxyto.errors %} error {% endif %}">
		<label class="control-label" for="id_proxyto"><b>Proxy to Servers</b></label>
		<div class="controls">
			{{ form.proxyto }}
			{% if form.proxyto.errors %} <span class="help-inline"> {{ form.proxyto.errors|join:", " }} </span>
			{% endif %} <span class="help-block"> {{ form.proxyto.help_text }}</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="applybutton" value="Apply" class="btn btn-large btn-primary"/>
			Apply</button>
		</div>
	</div>
</form>
{% endif %}
{% endblock %}
         
