{% extends "edumanage/welcome.html"%}

			{% block homeactive %}{% endblock %}
    		{% block servicesactive %}class="active"{% endblock %}
            {% block subcontent %}
              <h4>Services</h4>
              <div><a href="{% url edit-services %}">Add new service</a></div>
              {% load tolocale %}
              {% if services %}
                <table class="table .table-bordered">
	               <thead>
					<tr>
					<th>Name</th>
					<th>Street</th>
					<th>City</th>
					<th>Action</th>
					<th>Action</th>
					</tr>
					</thead>
					<tbody>
	                {% for service in services %}
	              	<tr>
	                	<td>{% tolocale service LANGUAGE_CODE%}</td><td>{{service.address_street}}</td><td>{{service.address_city}}</td> <td><a href="{% url edit-services service.pk%}">edit</a> </td><td><a href="{% url edit-services service.pk%}">delete</a></td>
	                </tr>
	              	{% endfor %}
	              	</tbody>
	              </table>
              {% else %}
              <div>No services defined yet (<a href="{% url edit-services %}">edit</a>)</div>
              {% endif %}
           
		{% endblock %}