{% extends "edumanage/welcome.html"%}


	{% block navbar %}
			
    		{% endblock %}
    		
    		{% block homeactive %}{% endblock %}
    		{% block serversactive %}class="active"{% endblock %}
            {% block subcontent %}

	            	
	              <h4>My Servers</h4>
	              <div><a href="{% url edit-servers %}">Add new server</a></div>
	              
	              {% if servers %}
	              <table class="table .table-bordered">
	               <thead>
					<tr>
					<th>Name</th>
					<th>Action</th>
					<th>Action</th>
					</tr>
					</thead>
					<tbody>
	                {% for server in servers %}
	              	<tr>
	                	<td>{{server}}</td> <td><a href="{% url edit-servers server.pk %}">edit</a> </td><td><a href="{% url edit-servers server.pk %}">delete</a></td>
	                </tr>
	              	{% endfor %}
	              	</tbody>
	              </table>
	              {% else %}
	              <div>No servers defined yet (<a href="{% url edit-servers %}">add</a>)</div>
	              {% endif %}

            {% endblock %}

