{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% block crumbs %}
	<li><a href="{% url manage %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li><a href="{% url servers %}">{% trans "Servers" %}</a><span class="divider">/</span></li>
	<li class="active">{{server.name}}</li>
{% endblock %}
{% block extrahead %}
<style type="text/css">
	.control-label{
		padding-top: 0px !important;
		width: auto !important;
	}
</style>
{% endblock %}
{% block homeactive %}{% endblock %}
{% block serversactive %}class="active"{% endblock %}
{% block subcontent %} <h4>{{server.get_name}}</h4>
<hr>
<div class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<p class="error">
		{{ form.non_field_errors}}
	</p>
	{% endif %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="control-group">
		<label class="control-label" for="id_ertype">{% trans "Type" %}</label>
		<div class="controls">
			{{ server.get_ertype_display }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_name">{% trans "Name" %}</label>
		<div class="controls">
			{{ server.name }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_host">{% trans "Host" %}</label>
		<div class="controls">
			{{ server.host }}
		</div>
	</div>
	{% if institution.ertype == 1 or institution.ertype == 3 %}
	<div class="control-group">
		<label class="control-label" for="id_port">{% trans "Authentication Port" %}</label>
		<div class="controls">
			{{ server.auth_port }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_acct_port">{% trans "Accounting Port" %}</label>
		<div class="controls">
			{{ server.acct_port }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_timeout">{% trans "Timeout" %}</label>
		<div class="controls">
			{{ server.timeout }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_retry">{% trans "Retry" %}</label>
		<div class="controls">
			{{ server.retry }}
		</div>
	</div>
	{% endif %}
	<div class="control-group">
		<label class="control-label" for="id_status_server">{% trans "Status Server" %}</label>
		<div class="controls">
			{{ server.status_server }}
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="id_proto">{% trans "Protocol" %}</label>
		<div class="controls">
			{{ server.proto }}
		</div>
	</div>
	 <div class="control-group">
        <div class="controls">
            <a class="btn btn-primary" href="{% url edit-servers server.pk %}">{% trans "Edit" %}</a>
        </div>
    </div>
</div>
{% endblock %}
         
