{% extends "base.html"%}

{% block content %}
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav">
			<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="{% url manage %}">Home</a>
				</li>
				<li>
				<a href="#">Institution</a>
				</li>
				<li class="active">
				<a href="#">Services</a>
				</li>
				<li>
				<a href="#">Servers</a>
				</li>
    		</ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class="span9">
          <div class="row-fluid">
            <!--/span-->
            <div class="span12">
              <h4>Services</h4>
              <div><a href="{% url edit-services %}">Add new service</a></div>
              {% load tolocale %}
              {% if services %}
                {% for service in services %}
                <div>
                <address>
				<strong>{% tolocale service LANGUAGE_CODE%}</strong>  (<a href="{% url edit-services service.pk%}">edit</a>)<br>
				{{service.address_street}}<br>
				{{service.address_city}}<br>
				</address>
                	</div>
              	{% endfor %}
              {% else %}
              <div>No services defined yet (<a href="{% url edit-services %}">edit</a>)</div>
              {% endif %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
{% endblock %}