body{
	font-size: 13px;
}

label, input, button, select, textarea {
    font-size: 13px;
   }

input, textarea {
    width: 140px;
}

select {
    width: 140px;
}

.side-menu > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 13px;
}

.side-menu > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.btn{
	font-size: 13px;
}


.form-horizontal .help-block {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 5px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/static/img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/static/img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}


tr.even {
	background: #eaeaea;
}

.breadcrumb{
	background-color: white;
}

.roundButton {
    border-radius: 55px 55px 55px 55px !important;
    height: 55px !important;
    width: 55px !important;
}

.roundButtonHolder {    
    left: 74px !important;
    top: 12px !important;
}
