a.navbar-brand {
	padding: 0;
}

a.navbar-brand img {
	height: 100%;
}

/* sticky footer begin */
html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.stickyfooter-container {
	display: table;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
footer.stickyfooter {
	display: table-footer-group;
	height: 1px;
}
/* sticky footer end */

footer {
	text-align: center;
}

footer > div {
	padding: 25px;
	background: #eee;
}

.pac-container {
	z-index: 100000;
}

footer.auth {
	padding: 8px;
}

.push-top {
	height: 51px;
}

.home .squares {
	padding: 50px 0;
}

.home .squares .square > div {
	background: #9eb5bd;
	padding: 5%;
	text-align: center;
	height: 400px;
}

.home .squares .square > div:hover {
	background: #8da4ac;
}

.home .squares .square h3 {
	text-align: center;
}

.home #map_wrapper {
	left: 0;
	right: 0;
}

.headtitle {
	font-family: "Franklin Gothic Demi", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	letter-spacing: -1px;
}

.closest #map_canvas{
	position: fixed !important;
	top: 52px;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 10000;
}


.sidebar-nav .active {
	background: #eee;

}

.closest footer {
	display: none;
}
