a.navbar-brand {
	padding: 0;
}

a.navbar-brand img {
	height: 100%;
}

html, body {
	height: 100%;
}

footer {
	height: 60px;
	background: #eee;
	text-align: center;
	padding: 25px;
}

footer.auth {
	padding: 8px;
}


#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
}

.push-top {
	height: 51px;
}

.push {
	height: 60px;
}

.home .squares {
	position: relative;
	margin: 600px auto 0;
	padding: 50px 0;
	z-index: 1000;
	background: white;
}

.home .squares .square > div {
	background: #9eb5bd;
	padding: 5%;
	text-align: center;
	height: 400px;
}

.home .squares .square > div:hover {
	background: #8da4ac;
}

.home .squares .square h3 {
	text-align: center;
}

.home #map_wrapper {
	position: fixed ;
	height: 600px;
	z-index: 0;
	left: 0;
	right: 0;
}

.headtitle {
	font-family: "Franklin Gothic Demi", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	letter-spacing: -1px;
}

.closest #map_canvas{
	position: fixed !important;
	top: 52px;
	bottom: 60px;
	left: 0;
	right: 0;
	z-index: 10000;
}


.sidebar-nav .active {
	background: #eee;

}
