{% extends "base.html"%}
{% load i18n %}
{% load tolocale %}
{% load static %}
{% load i18n %}
{% load tolocale %}


{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
			<div class="push-top"></div>
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li {% block homeactive %}class="active"{% endblock %}>
						<a href="{% url 'overview' %}">{% trans "Overview" %}</a>
					</li>
					<li>
						<form method="POST" action="{% url 'logout' %}">
							{% csrf_token %}
							<button type="submit" class="btn btn-link">{% trans "Logout" %}</button>
						</form>
					</li>
				</ul>
			</div><!--/.well -->
		</div><!--/span-->
		<div class="col-md-10">
			<div class="row">
				<!--/span-->
				<div class="col-md-12">
				{% if violation %}
			  	<table class="table table-condensed">
					    <tr class="error"><td>You have no rights to access this area. Please contact your administrator<td></tr>
					</table>
				{% else %}
              <h4>{% trans "Users - Institutions" %}</h4>
              <hr>
                <ul class="nav nav-tabs">
				    <li class="active"><a href="#users" data-toggle="tab">{% trans "Users" %}</a></li>
				    <li><a href="#institutions" data-toggle="tab">{% trans "Institutions" %}</a></li>
			    </ul>

    			<div class="tab-content" style="margin-top: 20px;">
              		<div class="tab-pane active" id="users">
              		{% if users %}
               			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%" id="usertable">
	               			<thead>
								<tr>
									<th>{% trans "Username" %}</th>
									<th>{% trans "Email" %}</th>
									<th>{% trans "Name" %}</th>
									<th>{% trans "Status" %}</th>
									<th>{% trans "Institution" %}</th>
								</tr>
							</thead>
							<tbody>
	                			{% for user in users %}
	              				<tr class="GradeC">
	                				<td>{{user.username}}</td>
	                				<td>{{user.email}}</td>
	                				<td>{{user.first_name}} {{user.last_name}}</td>
	                				<td>
	                					{% if user.userprofile %}
	                						{% if user.userprofile.is_social_active %}
	                							{% trans "Active" %}
	                						{% else %}
	                							{% trans "Inactive" %} or {% trans "Key Expired" %}
	                						{% endif %}
	                					{% else %}-{% endif %}
	                				</td>
	                				<td>{% if user.userprofile.institution %}{% tolocale user.userprofile.institution LANGUAGE_CODE %}{% endif %}</td>
	                			</tr>
	              				{% endfor %}
	              			</tbody>
	              		</table>
	              		{% endif %}
				  	</div>
				  	<div class="tab-pane" id="institutions">
	              		{% if institutions %}
               			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%" id="insttable">
	               			<thead>
								<tr>
									<th>{% trans "Name" %}</th>
									<th>{% trans "Type" %}</th>
									<th>{% trans "Contacts" %}</th>
									<th>{% trans "Address" %}</th>
									<th>{% trans "Admin Users" %}</th>
								</tr>
							</thead>
							<tbody>
				                {% for institution in institutions %}
				              	<tr class="GradeC">
				                	<td>{% tolocale institution LANGUAGE_CODE %}</td>
				                	<td>{{institution.get_ertype_display}}</td>
				                	<td>{% if institution.institutiondetails.contact.all %}{% for contact in institution.institutiondetails.contact.all %}{{contact}}<br>{% endfor %}{% endif %}</td>
			                        <td>{% tolocale institution.institutiondetails LANGUAGE_CODE get="address" as institution_institutiondetails_address %}{{institution_institutiondetails_address.street}}<br>{{institution_institutiondetails_address.city}}</td>
				                	<td>{% if institution.userprofile_set.all %}{% for admuser in institution.userprofile_set.all %}{{admuser.user}}<br>{% endfor %}{% endif %}</td>

				                </tr>
				              	{% endfor %}
	              			</tbody>
	              		</table>
	              		{% endif %}
	              	</div>
	             </div>
				{% endif %}
				</div>
			</div>
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->
{% endblock %}




{% block extrajs %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/1/dataTables.bootstrap.js"></script>
<script type="text/javascript">
$(document).ready(function(){

var oTableU = $('#usertable').dataTable({
	"sPaginationType": "bootstrap",
	"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
	"aoColumns": [{
        "bSearchable": true,
        "bSortable": true
    }, {
        "bSearchable": true,
        "bSortable": true
    }, {
        "bSearchable": true,
        "bSortable": true
    }, {
        "bSearchable": true,
        "bSortable": true
    }, {
        "bSearchable": true,
        "bSortable": true
    }],
    "aaSorting": [[0, 'desc']],
    "iDisplayLength": 25,
    "oSearch": {"bSmart": false, "bRegex":true},
    "oLanguage": {
    	"sLengthMenu": '{% trans "Display" %} <select><option value="25">25</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> {% trans "users" %}',
        "sProcessing":   "Processing...",
        "sZeroRecords": '{% trans "No records to display" %}',
        "sInfo":         "Showing _START_ to _END_ of _TOTAL_ entries",
        "sInfoEmpty":    "{% trans "Showing 0 to 0 of 0 entries" %}",
        "sInfoFiltered": "(filtered from _MAX_ total entries)",
        "sInfoPostFix":  "",
        "sSearch":       '{% trans "Search:" %}',
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    '{% trans "First" %}',
            "sPrevious": '{% trans "Previous" %}',
            "sNext":     '{% trans "Next" %}',
            "sLast":     '{% trans "Last" %}'
        }
    }
});

oTableU.fnDraw();


var oTableI = $('#insttable')
	.on( 'init.dt', function () {
	       	$('.pagination ul').addClass('pagination');
	    })
	.dataTable({
		"sPaginationType": "bootstrap",
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		"aoColumns": [{
	        "bSearchable": true,
	        "bSortable": true
	    }, {
	        "bSearchable": true,
	        "bSortable": true
	    }, {
	        "bSearchable": true,
	        "bSortable": true
	    }, {
	        "bSearchable": true,
	        "bSortable": true
	    }, {
	        "bSearchable": true,
	        "bSortable": true
	    }],
	    "aaSorting": [[0, 'desc']],
	    "iDisplayLength": 25,
	    "oSearch": {"bSmart": false, "bRegex":true},
	    "oLanguage": {
	    	"sLengthMenu": '{% trans "Display" %} <select><option value="25">25</option><option value="50">50</option><option value="-1">{% trans "All" %}</option></select> {% trans "institutions" %}',
	        "sProcessing":   "Processing...",
	        "sZeroRecords": '{% trans "No records to display" %}',
	        "sInfo":         "Showing _START_ to _END_ of _TOTAL_ entries",
	        "sInfoEmpty":    "{% trans "Showing 0 to 0 of 0 entries" %}",
	        "sInfoFiltered": "(filtered from _MAX_ total entries)",
	        "sInfoPostFix":  "",
	        "sSearch":       '{% trans "Search:" %}',
	        "sUrl":          "",
	        "oPaginate": {
	            "sFirst":    '{% trans "First" %}',
	            "sPrevious": '{% trans "Previous" %}',
	            "sNext":     '{% trans "Next" %}',
	            "sLast":     '{% trans "Last" %}'
	        }
	    }
	});

oTableI.fnDraw();

});
</script>
{% endblock %}
