{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="">
				<div class="">
					<h1>Login</h5>
					<hr>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form class="" method="post" action="{% url 'altlogin' %}">
							{% if form.non_field_errors %} {% for err in form.non_field_errors %}
							<div class="form-group error ">
								<div class="controls error">
									<span style="color: #B94A48;">{{err}}</span>
								</div>
							</div>
							{% endfor %} {% endif %} {% csrf_token %}
							<div
								class="form-group {% if form.username.errors %} error {% endif %}">
								<label class="control-label" for="id_username">Username</label>
								<div class="controls">
									{{ form.username }} {% if form.username.errors %} <span
										class="help-inline"> {{ form.username.errors|join:", "}} </span> {% endif %}
								</div>
							</div>
							<div class="form-group {% if form.password.errors %} error {% endif %}">
								<label class="control-label" for="id_password">Password</label>
								<div class="controls">
									{{ form.password }} {% if form.password.errors %} <span
										class="help-inline"> {{ form.password.errors|join:", "}} </span> {% endif %}
								</div>
							</div>
							<div class="form-group">
								<div class="controls">
									<button type="submit" class="btn">Sign in</button>
                                                                        {% if next %}
									<input type="hidden" name="next" value="{{ next }}" />
                                                                        {% else %}
									<input type="hidden" name="next" value="{% url 'overview' %}" />
                                                                        {% endif %}
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
