{% extends "base.html" %}
{% load i18n %}
    {% block currentpagetitle %}{% trans "Management" %}{% endblock %}
    {% block homepage %}{% endblock %}
    {% block hometop %}{% endblock %}
    {% block mgmt %}class="active"{% endblock %}


		{% block subcontent %}
			<h4>{% trans "Management" %}</h4>
			<hr>
			<div class="span6">
				<p>{% blocktrans %}The management application provides an interface for administrators of federation member institutions to maintain the data that is necessary for participating in the federation.{% endblocktrans %}</p>
				<p>{% blocktrans %}Administrators can log in using either Social Networks or the AAI Federation:{% endblocktrans %}</p>
				<h5>Social Networks</h5>
				<hr>
				<p>{% blocktrans %}Social networks that have been enabled for authenticating users to the management application are listed under the <b>Manage</b> drop-down menu. Once authenticated, a user may need to assert any missing information that is required by the application (such as an e-mail address). After that, the user can proceed with activation.{% endblocktrans %}</p>
				<h5>AAI Federation</h5>
				<hr>
				<p>{% blocktrans %}Authentication and authorization are carried out through a{% endblocktrans %} <a href="http://shibboleth.net/products/service-provider.html">Shibboleth SP</a>.</p>
				<p>{% blocktrans %}The following attributes are required for administrators and must be released by their home IdPs to the SP{% endblocktrans %} {% trans "according to the" %} <a href="http://aai.grnet.gr/documentation">{% trans "policy and procedures documentation" %}</a> {% trans "provided by the GRNET AAI federation" %}:
					<table class="table table-bordered">
						<thead><tr><th>{% trans "Attribute" %}</th><th>{% trans "Description" %}</th></tr></thead>
						<tbody>
						<tr class="success"><td>eduPersonPrincipalName</td><td>{% trans "Provides a string that uniquely identifies an administrator in the management application." %}</td></tr>
						<tr class="success"><td>eduPersonEntitlement</td><td>{% trans "A specific URN value must be provided to authorize an administrator:" %} <strong>urn:mace:grnet.gr:eduroam:admin</strong></td></tr>
						<tr class="success"><td>mail</td><td>{% trans "The e-mail address (one or more) of the administrator. It is used for notifications from the management application. It may also be used for further communication, with prior consent." %}</td></tr>
						<tr class="info"><td>givenName (optional)</td><td>{% trans "The person's first name." %}</td></tr>
						<tr class="info"><td>sn (optional)</td><td>{% trans "The person's last name." %}</td></tr>
						</tbody>
					</table>
				</p>
				<p>{% blocktrans %}Once attribute release is setup properly an administrator can login to the management application.{% endblocktrans %}</p>
				<h5>Activation</h5>
				<hr>
				<p>{% blocktrans %}After the first login, administrators are asked to associate their account with the institution they want to manage. Their choice must then be ratified by the operators of their management application. Following that, they will be notified through e-mail and they will then be able to start using the management application.{% endblocktrans %}</p>
				<h5>Metadata</h5>
				<hr>
				<p>{% blocktrans %}Among other things, the metadata provided by administrators through the management application are used to compile database data for the federation{% endblocktrans %}: <a href="{% url instxml %}">institution.xml</a>, <a href="{% url realmxml %}">realm.xml</a>, <a href="{% url realmdataxml %}">realm_data.xml</a></p>
			</div>
		{% endblock %}
