{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block currentpagetitle %}{% trans "Connect to eduroam" %}{% endblock %}
{% block homepage %}{% endblock %}
{% block hometop %}{% endblock %}
{% block participants %}active{% endblock %}


{% block subcontent %}
{% load tolocale %}
{% load dict_lookup %}
<noscript>
<div class="row">
  <div class="nojs-warning col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger" style="margin-top:20px;margin-bottom:0px;"><p>
	{% blocktrans trimmed with a_enablejs=' <a href="http://www.enable-javascript.com/" target="_blank" class="alert-link">' %}
	For full functionality of this site it is necessary to enable JavaScript.
	Here are the {{ a_enablejs }} instructions how to enable
	JavaScript in your web browser{% endblocktrans %}</a>.
    </p></div>
  </div><!-- /.nojs-warning -->
</div><!-- /.row -->
</noscript>
<div class="row">
<div class="institution-search col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h1 class="h2">{% trans "Connect to eduroam" %}</h1>
<hr style="margin-top:0px;margin-bottom:10px;">
<p>{% trans "Find instructions, contacts and tools to help you securely connect to eduroam" %}</p>
<div class="form-group has-feedback has-clear" style="margin-bottom:10px;">
    <i class="form-control-clear fa fa-remove form-control-feedback hidden"></i>
    <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>-->
    <input type="search" class="form-control" name="inst_search" id="inst-search-input"
placeholder="{% blocktrans %}Search for your institution in {{ COUNTRY_NAME }}{% endblocktrans %}"
autofocus autocomplete="off">
    </div>
</div><!-- /.institution-search -->
</div><!-- /.row -->
<div class="row">
<div class="search-actions col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul class="inst-action" style="text-align: right">
    <li class="pull-left trigger-geolocate">
      <i class="fa fa-map-marker text-muted"></i>
      <a role="button" tabindex="0">
        <span class="gl-show">{% trans 'Show' %}</span><span class="gl-showing">{% trans 'Showing' %}</span> {% trans 'nearest' %} <span class="hidden-xs">{% trans 'institutions' %}</span>
      </a>
    </li>
    <li class="pull-right">
      <i class="fa fa-globe text-muted"></i>
      <a href="//cat.eduroam.org/">{% trans 'Find' %} <span class="hidden-xs">{% trans 'institutions' %}</span> {% trans 'worldwide' %}</a>
    </li>
  </ul><!-- /.inst-action -->
</div><!-- /.search-actions -->
</div><!-- /.row -->
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 institution-list">
	<ul class="insts">
	{% for i in institutions %}
	{% with catidp=institutions_cat|dict_lookup:i.institution.pk %}
	<li>
	  {% if catidp %}
	  <a class="btn" data-toggle="modal" data-target="catModal"
	     data-idu="{% url 'participants' %}#!id={{ i.institution.pk }}"
	     data-iid="{{ i.institution.pk }}" data-catidp="{{catidp}}" tabindex="0">
	  {% else %}
	  <a class="btn" data-iid="{{ i.institution.pk }}"
	     href="{% url 'participants' %}#!id={{ i.institution.pk }}" tabindex="0">
	  {% endif %}
	  <span class="title" {% if i.oper_name %}data-on="{{i.oper_name}}"{% endif %}>{% tolocale i.institution LANGUAGE_CODE %}</span><span class="small-small hidden">&nbsp;<span class="distance">xxx</span>&nbsp;Km</span>&nbsp;<i title="{% trans 'See info (instructions, contacts) for this institution' %}" data-toggle="tooltip" data-placement="bottom" class="fa fa-arrow-circle-right text-muted"></i>
	  </a>
	</li>
	{% endwith %}
	{% endfor %}
	</ul>
</div><!-- /.institution-list -->
</div><!-- /.row -->
{% if catexists %}
<div class="modal fade" id="catModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel" data-catui="institution">eduroam CAT</h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
	<div class="row" data-catui="container">
	  <div class="col-xs-12 col-sm-push-4 col-sm-8 col-md-push-3 col-md-9" data-catui="container-right">
	    <ul class="nav nav-tabs hidden" role="tablist" data-catui="profile-select-container">
	      <li role="presentation" class="active"><a href="#dummy" data-catprof="dummy" aria-controls="home" role="tab" data-toggle="tab">dummy</a></li>
	    </ul>
	    <div class="tab-content" data-catui="profiles-container">


	      <div role="tabpanel" class="tab-pane active" id="0_loadingplaceholder" data-catui="profile-loading-placeholder" data-catui-panelrole="placeholder_loading">
		<div class="row">
		  <div class="col-xs-12 col-sm-6 col-md-8 align" data-catui="device-container">
		    <p class="lead text-center" style="margin-top: 20px;">
		      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
		    </p>
		  </div><!-- /[data-catui="device-container"] -->
		  <div class="hidden-xs col-sm-6 col-md-4 align" data-catui="devicelist-container">
		  </div><!-- /[data-catui="devicelist-container"] -->
		</div><!-- /.row -->
	      </div><!-- /[data-catui="profile-loading-placeholder"].tab-pane -->


	      <div role="tabpanel" class="tab-pane" id="0_loaderror" data-catui="profile-load-error" data-catui-panelrole="load_error">
		<div class="row">
		  <div class="col-xs-12 col-sm-6 col-md-8 align" data-catui="device-container">
		    <p class="lead text-center" style="margin-top: 20px;">
		      <i class="fa fa-exclamation-triangle fa-3x"></i><span class="sr-only">Error</span><br>
		      <a href="javascript:location.reload();">Request failed, please reload the page</a>
		    </p>
		  </div><!-- /[data-catui="device-container"] -->
		  <div class="hidden-xs col-sm-6 col-md-4 align" data-catui="devicelist-container">
		  </div><!-- /[data-catui="devicelist-container"] -->
		</div><!-- /.row -->
	      </div><!-- /[data-catui="profile-loading-container"].tab-pane -->


	      <div role="tabpanel" class="tab-pane" id="0_profiletemplate" data-catui="profile-container-template" data-catui-panelrole="profile_template">
		<div class="row">
		  <div class="col-xs-12">
		    <p class="lead" data-catui="profile-description"></p>
		    </div>
		</div><!-- /.row -->
		<div class="row" data-catui="devicebox">
		  <div class="col-xs-8 col-sm-12 col-md-8 active" data-catui="device-loading-placeholder">
		    <p class="lead text-center" style="margin-top: 20px;">
		      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
		    </p>
		  </div><!-- /[data-catui="device-loading-placeholder"] -->
		  <div class="col-xs-8 col-sm-12 col-md-8" data-catui="device-load-error">
		    <p class="lead text-center" style="margin-top: 20px;">
		      <i class="fa fa-exclamation-triangle fa-3x"></i><span class="sr-only">Error</span><br>
		      <a href="javascript:location.reload();">Request failed, please reload the page</a>
		    </p>
		  </div><!-- /[data-catui="device-load-error"] -->
		  <div class="col-xs-8 col-sm-12 col-md-8" data-catui="device-no-match">
		    <h4 class="alert alert-warning center-block text-center" style="margin-top: 20px; max-width: 300px;">
		      No match, please select a different platform
		    </h4>
		  </div><!-- /[data-catui="device-no-match"] -->
		  <div class="col-xs-8 col-sm-12 col-md-8" data-catui="device-container">
		    <h4 data-catui="device-display">platform placeholder</h4>
		    <p data-catui="device-eapcustomtext">eapcustomtext placeholder</p>
		    <div data-catui="device-message" class="well-sm alert-warning">
		      <p role="message">message placeholder</p>
		      <button class="btn btn-sm btn-primary">Continue</button>
		    </div>
		    <div data-catui="device-redirectmessage" class="well-sm alert-info">
		      <p role="message">The institution administrator has
		      specified this device should be configured
		      with resources provided on a local page:
		      <span><a class="alert-link strong" target="_blank" data-catui="device-redirecturl"></a></span>
		      If you continue you will be redirected
		      there.<!-- Ο διαχειριστής φορέα καθόρισε ότι αυτή
		      η συσκευή πρέπει να ρυθμιστεί με πόρους που
		      παρέχονται σε άλλη σελίδα. Αν συνεχίσετε θα ανακατευθυνθείτε
		      εκεί.--></p>
		      <button class="btn btn-sm btn-primary">Continue</button>
		    </div>
		    <div data-catui="device-download">
		      <button class="btn btn-success btn-lg btn-block">
			<span data-catui-dltxt="init">Download</span>
			<span data-catui-dltxt="generate">Generating...</span>
			<span data-catui-dltxt="download">Downloading</span>
			<span data-catui-dltxt="fail">Failed</span>
		      </button>
		      <p style="line-height: 28px;">
			<span class="pull-left" data-catui="device-signed"
			      title="{% block cat_signed_by %}{% trans 'The downloaded profile will be digitally signed by GÉANT Association' %}{% endblock %}" data-toggle="tooltip" data-placement="bottom">
			  <i class="fa fa-check-square-o" aria-hidden="true"></i> Signed</span><!-- /.pull-left -->
			<span class="pull-right" title="The downloaded profile will display messages in this language" data-toggle="tooltip" data-placement="bottom">
			  <i class="fa fa-language" aria-hidden="true"></i> <span class="hidden" data-catui="device-language">language placeholder</span>
			</span><!-- /.pull-right -->
		      </p>
		    </div><!-- /data-catui="device-download" -->
		    <div class="well-sm alert-danger text-center" data-catui="device-downloadfailed-message">
		      <a class="alert-link strong" href="javascript:location.reload();">Request failed, please reload the page</a>
		    </div>
		    <p data-catui="device-devicecustomtext">devicecustomtext placeholder</p>
		    <p role="message" data-catui="device-defaulttext">Only install profiles that match your institution (and user
		      group). When prompted for your username (inner identity) enter your fully qualified username@realm,
		      unless specifically instructed by your institution.<!--Εγκαταστήστε μόνο προφίλ που ανήκει στο φορέα (και την ομάδα χρηστών) σας.
		      Όταν ερωτηθείτε για το username (inner identity) συνήθως χρειάζεται να εισάγετε το πλήρες username@realm, εκτός αν παρέχονται ειδικές οδηγίες
		      από το φορέα σας.--></p>
		    <div class="panel-group" role="tablist" aria-multiselectable="false" data-catui="device-deviceinfo">
		      <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading_deviceinfo_{profile_container_id}_{device_id}">
			  <h5 class="panel-title">
			    <a role="button" class="collapsed" data-toggle="collapse-noanimation" data-target="#deviceinfo_{profile_container_id}_{device_id}" aria-expanded="false" aria-controls="deviceinfo_{profile_container_id}_{device_id}">
			      Information &amp; Usage<span class="pull-right"><i class="fa fa-angle-double-down" aria-hidden="true"></i><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
			    </a>
			  </h5><!-- /h5 -->
			</div><!-- /.panel-heading -->
			<div id="deviceinfo_{profile_container_id}_{device_id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_deviceinfo_{profile_container_id}_{device_id}">
			  <div class="panel-body">deviceinfo placeholder</div>
			</div><!-- /.panel-collapse -->
		      </div><!-- /.panel -->
		    </div><!-- /.panel-group -->
		    <p role="message"
		      data-catui="device-postinstall">Once the profile is installed and the target system is successfully configured,
		      and after you enter your credentials (when prompted upon installation or first connection), the device will automatically connect
		      whenever it is in the vicinity of an eduroam hotspot.<!--Αφού εγκατασταθεί το επιλεγμένο προφίλ και ολοκληρωθεί επιτυχώς η ρύθμιση
		      του συστήματος, και αφού εισάγετε τα διαπιστευτήρια χρήστη (μόλις ζητηθούν κατά την εγκατάσταση ή την πρώτη σύνδεση), η συσκευή
		      θα συνδέεται αυτόματα οποτεδήποτε βρίσκεται κοντά σε eduroam hotspot.--></p>
		  </div><!-- /[data-catui="device-container"] -->
		  <div class="col-xs-4 col-sm-7 col-md-4 active-exempt" data-catui="devicelist-container">
		    <h4>Other platforms</h4>
		    <div class="panel-group" role="tablist" aria-multiselectable="false">
		      <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading_devicegroup_{cdev_group}">
			  <a class="collapsed panel-title"
			     role="button"
			     data-toggle="collapse-noanimation"
			     data-target="#devicegroup_{cdev_group}"
			     aria-expanded="false" aria-controls="devicegroup_{cdev_group}">device group</a>
			</div><!-- /.panel-heading -->
			<div class="panel-collapse collapse" role="tabpanel" id="devicegroup_{cdev_group}" aria-labelledby="heading_devicegroup_{cdev_group}" aria-expanded="false">
			  <ul class="list-group">
			    <li class="list-group-item"><a data-catdev="dummy" href="#dummy">device</a></li>
			  </ul><!-- /.list-group -->
			</div><!-- /.panel-collapse.collapse -->
		      </div><!-- /.panel.panel-default -->
		    </div><!-- /.panel-group -->
		  </div><!-- /[data-catui="devicelist-container"] -->
		</div><!-- /.row -->
	      </div><!-- /[data-catui="profile-container-template"].tab-pane -->


	    </div><!-- /[data-catui="profiles-container"].tab-content -->
	  </div><!-- /[data-catui="container-right"] -->

	  <div class="col-xs-12 col-sm-pull-8 col-sm-4 col-md-pull-9 col-md-3" data-catui="container-left">
	    <div class="row">
	    <div class="col-xs-3 col-sm-12" data-catui="container-logo"></div><!-- /[data-catui="container-logo"] -->
	    <div class="col-xs-9 col-sm-12" data-catui="container-support">
	      <p data-catui="support-header" data-catui-support="yes">If you encounter problems, you can obtain direct assistance from your home organisation:</p>
	      <p data-catui="support-header" data-catui-support="no">If you encounter problems you can ask for help at your home institution.</p>
	      <address class="cat-support-contact"
		       data-catui="support-contact-container">
		<span><i class="fa"></i> <a href="#">placeholder</a></span>
	      </address>
            {% block cat_mailing_list %}
	      <p data-catui="support-header">You may also report or discuss issues related to CAT by posting to the <a href="//lists.geant.org/sympa/info/cat-users">users mailing list</a>.</p>
	    {% endblock %}
	    </div><!-- /[data-catui="container-support"] -->
	    </div><!-- /.row -->
	  </div><!-- /[data-catui="container-left"] -->

	</div><!-- /.row -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
	<small>
	  {% block cat_attribution %}
	  <a href="//cat.eduroam.org/">eduroam <span data-toggle="tooltip" data-placement="top" title="Configuration Assistant Tool">CAT</span></a> is a service provided by
	  <a href="//geant.org"><img data-catui="geant-logo" src="//cat.eduroam.org/resources/images/dante.png" title="GÉANT" alt="GÉANT"></a>
	  <br class="vixible-xs hidden-md hidden-lg">
	  This page provides access to CAT data with respect to the <a href="#" data-catui="cat-api-tou">CAT terms of use</a>.
	  {% endblock %}
	</small>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endblock %}

{% block extrajs_pre %}
<script type="text/javascript">
    var require = {
	"baseUrl": "{% static 'js/' %}",
	"paths": {
	    'jquery.xdomainrequest': '//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min',
	    'history': '//cdnjs.cloudflare.com/ajax/libs/html5-history-api/4.2.8/history.min',
	    'jquery.placeholder': '//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min',
	    'nprogress': '//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min',
	    // polyfill and feature plugins both defined in same file
	    'polyfill': 'feature'
	},
	"feature_preempt": true,
	"feature_implementations": "impl.feature",
	"polyfill_preempt": true,
	"polyfill_implementations": "impl.polyfill",
	// the following modules actually declare dependencies on their own, irrespective of those listed here
	// feature and polyfill plugins preempt the definition of these dependencies, affecting what the modules
	// receive for their own declared (not plugin prefixed) dependencies
	// huge hack, but this is the only no-frills dependency injection mechanism that currently works
	// note that depending on timing and resource ordering, preempted definitions may not work for
	// other calls to unprefixed dependencies
	"shim": {
	    "cat_ui": [
		'feature!history',
		'feature!jquery.base64',
		'polyfill!Array.isArray'
	    ],
	    "cat_api": [
		'polyfill!Array.prototype.find',
		'polyfill!Array.prototype.reduce',
		'polyfill!Array.prototype.forEach',
		'polyfill!String.prototype.trim',
		'polyfill!Array.isArray',
		'polyfill!Object.keys'
	    ],
	    "querystring": [
		'polyfill!Array.prototype.forEach',
		'polyfill!Array.prototype.map',
		'polyfill!Array.prototype.filter',
		'polyfill!Array.isArray',
		'polyfill!String.prototype.trim',
		'polyfill!Object.keys'
	    ]
	}
    }
</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
{% endblock %}
{% block extrajs %}
{% if catexists %}
<script type="text/javascript" src="{% static 'js/appear.min.js' %}"></script>
<script type="text/javascript">
(function(root, factory) {
    if (typeof define === 'function' && define.amd) {
	define('cat_init', ['jquery', 'cat_api', 'cat_ui', 'nprogress'], factory(root));
    } else {
	factory(root)(root.jQuery, root.ConfigurationAssistantTool, root.ConfigurationAssistantToolUI, root.NProgress);
    }
}(this, function(root) {
    return function($, ConfigurationAssistantTool, ConfigurationAssistantToolUI, NProgress) {
	var overrides = {
	    exthandlers: {
		cidp_unbind_selector: function() {
		    var $el = $(this),
			idu_href = $el.data('idu');
		    if (idu_href) {
			$el.attr('href', idu_href);
		    }
		    return this;
		},
		modal_title: function(title) {
		    var idu_href = $(this).data('idu');
		    if (idu_href) {
			var $el = $('<a>');
			$el.attr('href', idu_href);
			$el.text(title);
			if ($(this).children('i').length > 0) {
			    $el.append($(this).children('i').clone());
			}
			return $el;
		    }
		    return title;
		}
	    }
	}
	root.CAT = new ConfigurationAssistantTool({apiBase: "{% url 'cat-api' %}",
						   lang: "{{LANGUAGE_CODE}}"});
	root.NProgress = NProgress.configure({showSpinner: false});
	root.CAT_UI = ConfigurationAssistantToolUI({CAT: root.CAT}, overrides);

	return {
	    CAT: root.CAT,
	    CAT_UI: root.CAT_UI,
	    NProgress: root.NProgress
	}
    }
}));
</script>
{% else %}
<script type="text/javascript">
if (typeof define === 'function' && define.amd) {
    define('cat_init', {});
}
</script>
{% endif %}
<script type="text/javascript" src="{% static 'js/connect.js' %}"></script>
<script type="text/javascript">
(function(root, factory) {
    if (typeof define === 'function' && define.amd &&
	typeof require === 'function') {
	require(['jquery', 'nprogress', 'cat_init',
		 'feature!jquery.placeholder',
		 'feature!jquery.xdomainrequest'], factory(root));
    } else {
	factory(root)(root.jQuery, root.NProgress);
    }
}(this, function(root) {
    return function($, NProgress, cat_init) {
	if (typeof cat_init === 'undefined') {
	    cat_init = {
		CAT: root.CAT,
		CAT_UI: root.CAT_UI
	    }
	}
	if (!('NProgress' in cat_init)) {
	    // assume NProgress has not been configured yet
	    root.NProgress = NProgress.configure({showSpinner: false});
	}
	if (typeof $.fn.placeholder === 'function') {
	    $('.institution-search input').placeholder();
	}
	// if (!('autofocus' in document.createElement('input'))) {
	// 	$('.institution-search input').focus();
	// }
	var coords_d = [ $.getJSON("{% url 'get-all-services' %}") ];
	if (('CAT_UI' in cat_init) && ('initialized' in cat_init.CAT_UI)) {
	    coords_d.push(cat_init.CAT_UI.initialized);
	}
	root.geolocate.init(); // geoip url goes here (in opts obj)
	$.when.apply($, coords_d)
	    .then(root.geolocate.populate, root.geolocate.populate);
    }
}));
</script>
{% endblock %}

{% block extrahead %}
<link rel='stylesheet' href="{% static 'css/nprogress.css' %}">
<style type="text/css">
/* centered text in modal footer */
#catModal .modal-footer {
    text-align: center;
}
/* GEANT logo h.align with text */
img[data-catui="geant-logo"] {
    vertical-align: baseline;
    max-height: 20px;
}
/* inst logo max-width, height and centered
   (emulating bootstrap .img-responsive.center-block) */
div[data-catui="container-logo"] > * {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 10em;
    margin-bottom: 10px;
}
/* under 470px container-left columns go full-width again (like
   col-sm-12) */
@media (max-width: 470px) {
div[data-catui="container-left"] > .row > div {
    width: 100%;
}
}
/* under 768px container-left gets top border/padding/margin to
   separate it from container-right stacked on top of it */
@media (max-width: 767px) {
[data-catui="container-left"].col-xs-12 {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-top: 15px;
}
/* when the 1st col (container-logo) in container-left is hidden, the last col
   (col-xs-9) should go full width */
div[data-catui="container-left"] > .row > .hidden + div.col-xs-9:last-child {
    width: 100%;
}
}
/* no double-padding when two columns align: remove half the gutter so
   that padding across the edges and between columns is the same (15px) */
@media (min-width: 471px) and (max-width: 767px) {
:not(.hidden) + [data-catui="container-support"]:not(align) {
    padding-left: 0px;
}
}
@media (min-width: 471px) and (max-width: 767px), (min-width: 992px) {
[data-catui="devicelist-container"]:not(align) {
    padding-left: 0px;
}
}
@media (min-width: 768px) {
[data-catui="container-right"]:not(align) {
    padding-left: 0px;
}
}
/* contacts container gets a bottom margin like a paragraph */
address.cat-support-contact {
    margin-bottom: 10px;
}
/* limit the screen space for contacts text
   http://asdfasfd... */
.cat-support-contact > span {
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* IE9 workaround for garbled text-overflow:ellipsis with fontawesome */
.cat-support-contact > span:before {
    content: "";
}
/* profile description looks like a lightweight h4 */
[data-catui="profile-description"].lead {
    margin-bottom: 10px;
    font-size: 18px;
}
[data-catui="devicelist-container"] > h4:first-child,
[data-catui="device-container"] > h4:first-child {
    margin-top: 0px;
}
[data-catui="profile-select-container"].nav {
    margin-bottom: 10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxx */
/* device{,list}-container elements stacked and centered at
   {xs,xxs}-width */
@media (max-width: 470px) {
.tab-pane.active [data-catui="devicebox"] > div[data-catui] {
    width: 80%;
    left: 10%;
}
}
@media (max-width: 350px) {
.tab-pane.active [data-catui="devicebox"] > div[data-catui] {
    width: 100%;
    left: 0%;
}
}
/* devicelist collapsible list-group accordion's */
/* reset font-size in .panel-title */
[data-catui="devicelist-container"] .panel .panel-title {
    font-size: inherit;
    cursor: pointer;
}
/* devicelist group: use a cursor pointer since we'll be propagating clicks to child a[data-toggle="collapse-noanimation"] */
[data-catui="devicelist-container"] .panel .panel-heading {
    cursor: pointer;
}
/* devicelist group: propagate anchor style to container element */
[data-catui="devicelist-container"] .panel .panel-heading:hover > a {
    text-decoration: underline;
    color: #23527c;
}
/* the following ensure that a sequence of .panel-heading, .panel-collapse
   appear as a seamless accordion with a uniform 1px border */
[data-catui="devicelist-container"] .panel-group .panel-heading {
    border-bottom: 1px solid #ddd;
}
[data-catui="devicelist-container"] .panel-group .panel-heading+.panel-collapse>.list-group {
    border-bottom: 1px solid #ddd;
    border-top: 0;
}
/* devicelist device: use a cursor pointer since we'll be propagating clicks to child a[data-catdev] */
[data-catui="devicelist-container"] .panel-group .panel-heading+.panel-collapse>.list-group>.list-group-item {
    cursor: pointer;
}
/* devicelist device: propagate anchor style to container element */
[data-catui="devicelist-container"] .panel-group .panel-heading+.panel-collapse>.list-group>.list-group-item:hover>a {
    text-decoration: underline;
    color: #23527c;
}
/* line break before custom device text in devicelist */
[data-catui="devicelist-container"] .panel-group .panel-heading+.panel-collapse>.list-group>.list-group-item>a>small:before {
    content: "\A";
    white-space: pre;
}
[data-catui="devicelist-container"] .panel-group .panel.panel-default {
    border-bottom: 0px;
}
/*
[data-catui="devicelist-container"] .panel-group .panel-heading span.badge {
    float: right;
}
*/
/* emulate .tab-pane.active for toggling [catui="devicebox"] elements */
[data-catui="devicebox"] > .active,
[data-catui="devicebox"] > .active-exempt {
    display: block;
}
[data-catui="devicebox"] > :not(.active):not(.active-exempt) {
    display: none;
}
/* let div and p inside device-container have the same margin-bottom */
[data-catui="device-container"] > * {
    margin-bottom: 10px;
}
/* hyphenate word-wrap user content for better flow.. fails miserably */
/*
[data-catui="device-container"] > [data-catui="device-eapcustomtext"],
[data-catui="device-container"] > [data-catui="device-devicecustomtext"],
[data-catui="device-container"] > p {
      -ms-word-break: break-word;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
}
*/
/* pull right message buttons */
[data-catui="device-container"] button.btn-sm {
    display: block;
    margin-left: auto;
}
/* limit the screen space for redirect url
   http://asdfasfd... */
[data-catui="device-redirectmessage"] span {
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* IE9 workaround for garbled text-overflow:ellipsis with fontawesome */
[data-catui="device-redirectmessage"] span:before {
    content: "";
}
/* class equiv of the element strong/b */
.strong {
      font-weight: 700;
}
/* download button gets padding to stand out from surrounding elements
   it also gets max-width so as not to grow too big */
[data-catui="device-download"] {
    padding: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 350px) {
[data-catui="device-download"] {
    padding-left: 10px;
    padding-right: 10px;
}
}
/* downloadfailed message is hidden until download block is marked as failed */
[data-catui="device-download"]:not(.download-failed) + [data-catui="device-downloadfailed-message"] {
    display: none;
}
[data-catui="device-download"].download-failed + [data-catui="device-downloadfailed-message"] {
    display: block;
}
/* download button gets hidden when redirect block is active */
[data-catui="device-redirectmessage"]:not(.hidden) ~ [data-catui="device-download"] {
    display: none;
}
/* download button gets hidden while device message is not hidden and not acknowledged */
[data-catui="device-message"]:not(.hidden):not(.catui-message-acknowledged) ~ [data-catui="device-download"] {
    display: none;
}
/* button inside device message hidden when clicked = device message acknowledged */
[data-catui="device-message"].catui-message-acknowledged button {
    display: none;
}
[data-catui="device-container"] > [data-catui="device-eapcustomtext"]:not(.hidden) ~ [data-catui="device-defaulttext"],
[data-catui="device-container"] > [data-catui="device-devicecustomtext"]:not(.hidden) ~ [data-catui="device-defaulttext"],
[data-catui="device-message"]:not(.hidden):not(.catui-message-acknowledged) ~ [data-catui="device-defaulttext"],
[data-catui="device-redirectmessage"]:not(.hidden) ~ [data-catui="device-defaulttext"] {
    display: none;
}
[data-catui="device-redirectmessage"]:not(.hidden) ~ [data-catui="device-postinstall"] {
    display: none;
}
/* deviceinfo: use a cursor pointer since we'll be propagating clicks to child a[data-toggle="collapse-noanimation"] */
[data-catui="device-deviceinfo"] .panel .panel-heading {
    cursor: pointer;
}
/* deviceinfo: propagate anchor style to container element */
[data-catui="device-deviceinfo"] .panel .panel-heading:hover a,
[data-catui="device-deviceinfo"] .panel .panel-heading a:hover {
    text-decoration: none;
    /* color: #23527c; */
}
/* symbol like >>/<< that toggles together with deviceinfo panel */
[data-catui="device-deviceinfo"] .panel-heading a.collapsed i.fa-angle-double-down,
[data-catui="device-deviceinfo"] .panel-heading a:not(.collapsed) i.fa-angle-double-up {
    display: block;
}
[data-catui="device-deviceinfo"] .panel-heading a.collapsed i.fa-angle-double-up,
[data-catui="device-deviceinfo"] .panel-heading a:not(.collapsed) i.fa-angle-double-down {
    display: none;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxx */
ul.insts li a {
	/* ensure long institution names don't wrap */
	/* text-overflow: ellipsis; */
	white-space: normal;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
	width: 100%;
}

.institution-list {
	/* Add spacing between search bar and institutions on desktop */
	margin: 1em 0 0 0;
	/* On mobile, center institution names */
	text-align: center;
}

ul.insts {
	/* Vertical spacing between institutions on desktop */
	line-height: 4em;
}
ul.insts .small-small {
	opacity: .75;
}

ul.insts, ul.inst-action {
	/* Remove padding in inline lists */
	padding: 0;
	list-style: none;
}
ul.insts li {
	/* Show inline lists as inline */
	display: inline-block;
}

ul.insts.filtered li {
	/* One inst per line, separate with hairlines */
	width: 100%;
	border-top: 1px solid #eee;
	padding: 1em;
}
ul.insts.filtered a {
	font-size: 120%;
}
ul.insts.filtered {
	/* Less vertical spacing between insts */
	line-height: 2em;
	/* One inst per line, separate with hairlines */
	border-bottom: 1px solid #eee;
}

/* ul.insts li a:hover, */
/* ul.insts li a:active, */
ul.insts.match li a,
ul.insts li a:focus {
	/* When a match is found, make it bigger and green */
	font-size: 140%;
	color: #0a6;
}
/* ul.insts li a:hover:after, */
/* ul.insts li a:active:after, */
ul.insts.match li a:after,
ul.insts li a:focus:after {
	/* When a match is found, show a <return> key icon */
	content: "\21B5";
	border: .1rem solid gray;
	background: #eee;
	color: black;
	border-radius: .5rem;
	padding: .2em .25em 0;
	margin-left: 1em;
	display: inline-block;
	text-decoration: none;
}
/* ul.insts.match li a:hover:after, */
/* ul.insts.match li a:after, */
/* ul.insts.match li a:focus:after { */
/*     text-decoration: none; */
/*     display: inline-block; */
/* } */

ul.insts.match li:not(.match),
ul.insts.filtered li:not(.match) {
    display: none;
}

@media screen and (max-width: 767px) {
	/* Changes for mobile version */
	ul.insts li {
		/* One inst per line, separate with hairlines */
		width: 100%;
		border-top: 1px solid #eee;
	}
	ul.insts {
		/* Less vertical spacing between insts */
		line-height: 2em;
		/* One inst per line, separate with hairlines */
		border-bottom: 1px solid #eee;
	}
	/* .institution-list { */
		/* Less spacing between search and insts */
	/* 	margin: 0; */
	/* } */
}

ul.insts a[data-toggle="modal"] i {
    display: none;
}
ul.insts a i {
    display: inline;
}
.small-small {
    font-size: 72.25%;
}
/* jquery.placeholder simulate bootstrap .form-control::-*-placeholder */
.institution-search .placeholder {
    color: #999;
}
/* simulate .input-lg for > 470px */
@media (min-width: 471px) {
.institution-search input {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.institution-search .form-group .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 150%;
}
}

::-ms-clear {
  display: none;
}
.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
/* reset bootstrap input padding if .form-control-clear hidden */
.has-feedback .form-control-clear.hidden ~ .form-control {
    padding-right: 12px;
}

[data-catui="institution"] a {
    text-decoration: none;
}
[data-catui="institution"] i {
    margin-left: 5px;
    display: inline;
}
.modal-header .close {
    font-size: 24px;
    margin-left: 5px;
}
.trigger-geolocate[disabled] {
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.trigger-geolocate[disabled] a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.trigger-geolocate[disabled] span.gl-show {
    display: none;
}
.trigger-geolocate:not([disabled]) span.gl-showing {
    display: none;
}
</style>
{% endblock %}
