{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block currentpagetitle %}{% trans "Closest Access Point" %}{% endblock %}


{% block bodyclass %}closest{% endblock%}
{% block header %}
<div class="push-top"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'img/eduroam_logo.png' %}" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class="col-sm-3 col-md-3 pull-right">
      			<div class="input-group" style="margin-top: 8px;">
				    <span class="input-group-btn">
				    	<button  id="mylocm" class="btn btn-default" type="button">My location</button>
				    </span>
				    <input type="text" id="searchTextField" class="form-control" placeholder="Search for...">
				 </div>
          	</div>
        	<div class="col-sm-3 col-md-3 pull-right" style="margin-top: 18px">
		      	<span id="distanceText"></span>
		    </div>
      	</div>
    </div>
</nav>
{% endblock %}

{% block content %}
	<div id="map_canvas" data-center-lat="{{ MAP_CENTER.0 }}" data-closest="{% url 'closest' %}"" data-center-lng="{{ MAP_CENTER.1 }}" data-pin="{% static 'img/edupin.png' %}" data-group="{% static 'img/edugroup.png' %}" style="width:100%"></div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ API_KEY }}&v=3.exp&language=en&libraries=places"></script>
<script type="text/javascript" src="{% static 'js/geolocate.js' %}"></script>
{% endblock %}
