{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block currentpagetitle %}{% trans "Home" %}{% endblock %}

{% block hometop %}active{% endblock %}

{% block bodyclass %}home{% endblock %}
{% block content %}
	<div id="map_wrapper">
		<div id="map_canvas" style="width:100%; height:600px; overflow: hidden;" data-map-center-lat="{{MAP_CENTER.0}}" data-map-center-lng="{{MAP_CENTER.1}}" data-group-pin="{% static 'img/edugroup.png' %}" data-pin="{% static 'img/edupin.png' %}" data-city="{% static 'img/city.png' %}" data-country="{% static 'img/country.png' %}" data-markers="{% url get-all-services %}"></div>
	</div>
	<div class="squares">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 square">
					<div>
						<h3>
							<i class="fa fa-location-arrow fa-5x"></i>
						</h3>
						<p>
							{% blocktrans %}
							You might be wondering about the location of the closest eduroam access points in order to be able to connect to Eduroam. We provide a service and an api in order to help you find the closest Eduroam access point.
							{% endblocktrans %}

						</p>

						<p>
							<a href="{% url geolocate %}" target="_blank" class="btn btn-primary btn-lg" href="#" role="button">		Show me!
							</a>

						</p>
					</div>
				</div>
				<div class="col-lg-4 square">
					<div class="">
						<h3>
							<i class="fa fa-wifi fa-5x"></i>
						</h3>
						<p>
						{% blocktrans %}
							Eduroam (education roaming) is the secure, world-wide roaming access service developed for the international research and education community. It allows students, researchers and staff from participating institutions to obtain Internet connectivity across campus and when visiting other participating institutions by simply opening their laptop.
						{% endblocktrans %}
						</p>
					</div>
				</div>
				<div class="col-lg-4 square">
					<div>
						<h3>
							<i class="fa fa-cog fa-5x"></i>
						</h3>
						<div class="">
							<p>
							{% blocktrans %}
								To use eduroam wifi you will need to setup your laptop or smartphone. As end-user you will only be able to use eduroam if your institution provides electronic identity (e.g. account for network access). In that case you will need to contact your administrator and ask for an account. You (or your network administrator) will have to configure your computer to enable eduroam access.
							{% endblocktrans %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrahead %}
<link href="{% static 'css/mapescape.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'js/jquery.adapt_height.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mapescape.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home-page-map.js' %}"></script>
{% endblock %}
