{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block currentpagetitle %}{% trans "Participants" %}{% endblock %}
{% block homepage %}{% endblock %}
{% block hometop %}{% endblock %}
{% block participants %}active{% endblock %}


{% block subcontent %}
{% load tolocale %}
<h1>{% trans "Participating Institutions" %}</h1>
<hr>
<div>{% trans "In"%} {% trans COUNTRY_NAME %} {% trans "eduroam is provided by the following institutions/organizations" %}</div>
<br/>
<div class="row">
	{% for i in institutions %}
	<div class="col-md-6">
		<address>
			<strong>{% tolocale i.institution LANGUAGE_CODE %}</strong><br/>
			{{i.address_street}}<br>
			{{i.address_city}}
			{% if i.url.all|length > 0 or catexists %}
		    <dl style="margin-top: 10px;">
				<dt style="font-weight: normal;">URLs:</dt>
				{% for u in i.url.all %}{% if u %}
				<dd>
					<a href="{{u.url}}">{{u.get_urltype_display}} ({{u.get_lang_display}})</a>
				</dd>
				{% endif %}{% endfor %}
			{% with cats=i.institution.get_active_cat_enrl %}
				{% for cat in cats %}
				<dd>
					<a href="{{cat}}" target="_blank">eduroam CAT configuration profiles</a>
					<span style="font-weight: bold; font-size:15px; color:red;">*</span>
				</dd>
				{% endfor %}
			{% endwith %}
			</dl>
			{% endif %}
		</address>
	</div>
	{% cycle "" '<div class="clearfix visible-md visible-lg"></div>' %}
	{% endfor %}
</div>
{% if catexists %}
<div class="row">
	<div class="col-md-6"><span style="font-weight: bold; font-size:15px; color:red;">*</span> CAT profiles may have not been published yet</div>
</div>
{% endif %}
{% endblock %}


